n8n/workflows/coverage insert generation.json
{
  "name": "coverage insert generation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generar comparativa - Borrador",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ramo",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Hogar"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Product Company Id",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Excel de coberturas (pega el enlace)",
              "requiredField": true
            },
            {
              "fieldLabel": "Artefacto de flujo 2 (JSON)",
              "fieldType": "file",
              "acceptFileTypes": ".json",
              "requiredField": true
            },
            {
              "fieldLabel": "Tuning de la compañía (JSON)",
              "fieldType": "file",
              "acceptFileTypes": ".json",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "cig-node-1",
      "name": "Borrador de comparativa - On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -576,
        304
      ],
      "webhookId": "b1e6b1a1-0a1a-4a1a-9a1a-c0verageinsert1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Borrador de comparativa - On form submission').item.json['Excel de coberturas (pega el enlace)'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Coberturas por modalidad"
        },
        "options": {}
      },
      "id": "cig-node-2",
      "name": "Covers by modality",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        160
      ],
      "credentials": {
        "googleApi": {
          "id": "tyE0cuJcKBG86gjb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Borrador de comparativa - On form submission').item.json['Excel de coberturas (pega el enlace)'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2076746543,
          "mode": "list",
          "cachedResultName": "Coberturas opcionales"
        },
        "options": {}
      },
      "id": "cig-node-3",
      "name": "Optional Covers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        448
      ],
      "credentials": {
        "googleApi": {
          "id": "tyE0cuJcKBG86gjb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ported literal del workflow legacy (comparative generation.json).\nconst rawItems = $input.all();\nconst filteredRows = rawItems.filter(item => {\n  const row = item.json;\n  return row.row_number > 2 && row.col_1 !== \"\" && row.col_1 !== undefined;\n});\n\nreturn filteredRows.map(item => {\n  const row = item.json;\n  const formattedCover = { cover_id: parseInt(row.col_1), cover_name: row.col_2, modalities: {} };\n  Object.keys(row).forEach(key => {\n    if (!isNaN(key) && key !== \"col_1\" && key !== \"col_2\" && key !== \"row_number\") {\n      const content = row[key] ? row[key].trim() : \"\";\n      if (content !== \"\" && content.toLowerCase() !== \"sin cobertura\") {\n        formattedCover.modalities[key] = content;\n      }\n    }\n  });\n  return { json: formattedCover };\n});"
      },
      "id": "cig-node-4",
      "name": "Clean covers and modalities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Ported del legacy + extension A5 del diseno de Fase 4: se propaga tambien\n// el texto crudo del epigrafe (campo \"epigrafe\"), que matcher.buildCandidateIndex\n// necesita tal cual para reconstruir su propio indice de candidatos (usa\n// opt.epigrafe, no parent_cover_id).\nconst cleanModalities = $(\"Clean covers and modalities\").all();\nconst rawOptionals = $(\"Optional Covers\").all();\n\nreturn rawOptionals.map(item => {\n  const row = item.json;\n  const nombreEpigrafeExcel = row[\"EPÍGRAFE EN EL QUE SE DEBE INCLUIR\"];\n  const coverMatch = cleanModalities.find(m => m.json.cover_name === nombreEpigrafeExcel);\n  return {\n    json: {\n      epigrafe: nombreEpigrafeExcel,\n      cover_name: row[\"COBERTURA OPCIONAL\"],\n      text_content: row[\"TEXTO QUE SE DEBE INCLUIR\"] ? row[\"TEXTO QUE SE DEBE INCLUIR\"].trim() : \"\",\n      parent_cover_id: coverMatch ? coverMatch.json.cover_id : null\n    }\n  };\n});"
      },
      "id": "cig-node-5",
      "name": "Clean Optional Covers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        448
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "Artefacto_de_flujo_2__JSON_",
        "options": {}
      },
      "id": "cig-node-6",
      "name": "Read Flujo 2 Artifact",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        704
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "Tuning_de_la_compa__a__JSON_",
        "options": {}
      },
      "id": "cig-node-7",
      "name": "Read Tuning Dictionary",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// Generador de ENTRY/LINES (y su JSON intermedio) para una cobertura\n// (COVER_ID), a partir de: el texto libre del Excel troceado en bullets, las\n// dependencias ya emparejadas por matcher.js, y las reglas fijadas en\n// knowledge/Modelo comparativa de coberturas - AI ready.md.\n//\n// Codigo puro (sin n8n, sin LLM) -- se valida offline (evaluators/\n// coverage_insert_generator/run_offline_eval.js, check --generator) antes de\n// construir el nodo n8n real (Fase 4 del plan, CLAUDE.md SS7).\n\nconst OPERATOR_TO_SPEL = {\n  \"=\": \"==\",\n  \"!=\": \"!=\",\n  \">\": \">\",\n  \">=\": \">=\",\n  \"<\": \"<\",\n  \"<=\": \"<=\"\n};\n\nfunction quoteSpelValue(value) {\n  if (typeof value === \"string\") {\n    return `'${value.replace(/'/g, \"\\\\'\")}'`;\n  }\n  if (typeof value === \"boolean\" || typeof value === \"number\") {\n    return String(value);\n  }\n  throw new Error(`Tipo de valor SPEL no soportado: ${typeof value} (${JSON.stringify(value)})`);\n}\n\n// Traduce una dependencia {risk_field, operator, value} (esquema del flujo 2)\n// a una condicion SPEL sobre insurance[\"risk\"]. Sintaxis de IN/NOT_IN\n// confirmada por el usuario: `campo in {v1,v2,v3}` / `!(campo in {v1,v2,v3})`.\nfunction translateToSpel(dependency) {\n  const field = `insurance[\"risk\"].${dependency.risk_field}`;\n\n  if (dependency.operator === \"IN\" || dependency.operator === \"NOT_IN\") {\n    if (!Array.isArray(dependency.value)) {\n      throw new Error(`operator ${dependency.operator} requiere value como array (dependency: ${JSON.stringify(dependency)})`);\n    }\n    const list = `{${dependency.value.map(quoteSpelValue).join(\",\")}}`;\n    const membership = `${field} in ${list}`;\n    return dependency.operator === \"IN\" ? membership : `!(${membership})`;\n  }\n\n  const spelOp = OPERATOR_TO_SPEL[dependency.operator];\n  if (!spelOp) {\n    throw new Error(`Operador desconocido: ${dependency.operator}`);\n  }\n  return `${field} ${spelOp} ${quoteSpelValue(dependency.value)}`;\n}\n\n// Combina varias dependencias de un mismo ENTRY con AND. Con 1 sola\n// dependencia no anade parentesis de mas.\nfunction combineFilterExpr(dependencies) {\n  if (!dependencies || dependencies.length === 0) return null;\n  const parts = dependencies.map(translateToSpel);\n  return parts.length === 1 ? parts[0] : parts.map(p => `(${p})`).join(\" && \");\n}\n\n// Escapa un texto libre para usarlo como literal de cadena SPEL en TEXT_EXPR.\nfunction spelStringLiteral(text) {\n  return `'${(text || \"\").replace(/'/g, \"\\\\'\")}'`;\n}\n\n// Trocea el texto libre de una celda del Excel en bullets (una linea por\n// bullet, ver knowledge/.../criterio de granularidad de LINES). Descarta la\n// primera linea si es solo el nombre de la cobertura repetido (patron real\n// observado: la celda empieza con el propio nombre a modo de cabecera).\nfunction splitBulletsFromCellText(cellText, coverName) {\n  const lines = (cellText || \"\")\n    .split(\"\\n\")\n    .map(l => l.trim())\n    .filter(l => l.length > 0);\n  if (lines.length > 1 && coverName && lines[0].toLowerCase() === coverName.toLowerCase()) {\n    return lines.slice(1);\n  }\n  return lines;\n}\n\n// Construye los ENTRY/LINES de una cobertura completa.\n//\n// Input:\n//   coverId, coverName\n//   defaultBullets: string[] -- bullets sin ninguna dependencia estructural\n//     emparejada (van todos en un unico ENTRY por defecto).\n//   conditionedBullets: [{ text, dependencies, modalityId }] -- un ENTRY por\n//     elemento (ver criterio de granularidad: ENTRY = condicion estructural).\n//   opcionales: [{ coverName, textContent, hiringStatusExpr }] -- de la hoja\n//     \"Coberturas opcionales\" ya resueltos a este cover_id.\n//\n// Output: { entries: [...], coverOverride: string|null }\nfunction buildEntriesForCover({ coverId, coverName, defaultBullets = [], conditionedBullets = [], opcionales = [] }) {\n  const entries = [];\n\n  if (defaultBullets.length > 0) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: null,\n      hiring_status_expr: \"INCLUDED\",\n      value_expr: null,\n      modality_id: null,\n      source: \"default\",\n      lines: defaultBullets.map(text => ({ filter_expr: null, text_expr: spelStringLiteral(text) }))\n    });\n  }\n\n  for (const bullet of conditionedBullets) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: combineFilterExpr(bullet.dependencies),\n      hiring_status_expr: \"INCLUDED\",\n      value_expr: null,\n      modality_id: bullet.modalityId ?? null,\n      source: \"modality_bullet\",\n      lines: [{ filter_expr: null, text_expr: spelStringLiteral(bullet.text) }]\n    });\n  }\n\n  for (const opt of opcionales) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: opt.filterExpr ?? null,\n      hiring_status_expr: opt.hiringStatusExpr || \"OPTIONAL\",\n      value_expr: null,\n      modality_id: null,\n      source: \"optional_cover\",\n      lines: [{ filter_expr: null, text_expr: spelStringLiteral(opt.textContent) }]\n    });\n  }\n\n  const coverOverride = computeCoverOverride(entries);\n  if (coverOverride) {\n    for (const entry of entries) {\n      if (entry.filter_expr === coverOverride.sharedCondition) {\n        entry.filter_expr = null;\n      }\n    }\n  }\n\n  return {\n    entries,\n    coverOverride: coverOverride ? coverOverride.hiringStatusExpr : null\n  };\n}\n\n// Regla de optimizacion: si TODOS los ENTRY (2 o mas) comparten exactamente\n// la misma condicion no nula, se traslada al HIRING_STATUS_EXPR de\n// PRODUCT_COMPANY_COVER en vez de repetirse en cada ENTRY (decision del\n// usuario, opcion B: el contenido sigue visible aunque la cobertura salga\n// NOT_INCLUDED). Con menos de 2 ENTRY no hay nada que deduplicar.\nfunction computeCoverOverride(entries) {\n  if (entries.length < 2) return null;\n  const conditions = entries.map(e => e.filter_expr);\n  if (conditions.some(c => c == null)) return null;\n  const allSame = conditions.every(c => c === conditions[0]);\n  if (!allSame) return null;\n  return {\n    sharedCondition: conditions[0],\n    hiringStatusExpr: `${conditions[0]} ? \"INCLUDED\" : \"NOT_INCLUDED\"`\n  };\n}\n\n// Generacion del SQL INSERT final (motor: MySQL, confirmado por el usuario)\n// a partir del artefacto de una cobertura (ver buildEntriesForCover). Usa\n// variables de sesion (`SET @var := LAST_INSERT_ID()`) para encadenar las FK\n// entre PRODUCT_COMPANY_COVER -> _ENTRY -> _LINES, ya que los INSERT se\n// ejecutan secuencialmente y el ID de cada fila se genera en la propia BBDD.\n//\n// Confirmado por el usuario (20/07): toda expresion SPEL (no solo TEXT_EXPR)\n// lleva el envoltorio \"/\" ... \"/\" -- se aplica por igual a FILTER_EXPR/\n// HIRING_STATUS_EXPR/VALUE_EXPR/TEXT_EXPR.\nfunction wrapAsSpelExpression(rawExpr) {\n  return rawExpr == null ? null : `/${rawExpr}/`;\n}\n\n// Literal SQL: escapa comillas simples con backslash, igual que el ejemplo\n// real del modelo (`'/\\'texto\\'/'`) -- convencion de MySQL con\n// NO_BACKSLASH_ESCAPES desactivado (el modo por defecto).\nfunction sqlLiteral(value) {\n  if (value == null) return \"NULL\";\n  if (typeof value === \"number\") return String(value);\n  return `'${String(value).replace(/'/g, \"\\\\'\")}'`;\n}\n\n// coverArtifact: { coverId, productCompanyId, coverOverride, entries } --\n// coverOverride y entries.*.filter_expr/hiring_status_expr/value_expr son\n// expresiones SPEL en crudo (sin el envoltorio \"/.../\"); entries.*.lines[].\n// text_expr ya viene como literal de cadena SPEL (`'texto'`, ver\n// spelStringLiteral) al que tambien hay que anadirle el envoltorio.\nfunction buildInsertStatements({ coverId, productCompanyId, coverOverride, entries }) {\n  const statements = [];\n\n  statements.push(\n    `INSERT INTO PRODUCT_COMPANY_COVER (HIRING_STATUS_EXPR, COVER_ID, PRODUCT_COMPANY_ID) VALUES (${sqlLiteral(wrapAsSpelExpression(coverOverride))}, ${coverId}, ${productCompanyId});`\n  );\n  statements.push(\"SET @cover_id := LAST_INSERT_ID();\");\n\n  entries.forEach((entry, entryIndex) => {\n    const entryVar = `@entry_id_${entryIndex + 1}`;\n    statements.push(\n      `INSERT INTO PRODUCT_COMPANY_COVER_ENTRY (FILTER_EXPR, HIRING_STATUS_EXPR, ENTRY_ORDER, VALUE_EXPR, UNIT, PRODUCT_COMPANY_MODALITY_ID, PRODUCT_COMPANY_COVER_ID) VALUES (${sqlLiteral(wrapAsSpelExpression(entry.filter_expr))}, ${sqlLiteral(wrapAsSpelExpression(entry.hiring_status_expr))}, ${entryIndex + 1}, ${sqlLiteral(wrapAsSpelExpression(entry.value_expr))}, NULL, ${entry.modality_id ?? \"NULL\"}, @cover_id);`\n    );\n    statements.push(`SET ${entryVar} := LAST_INSERT_ID();`);\n\n    entry.lines.forEach((line, lineIndex) => {\n      statements.push(\n        `INSERT INTO PRODUCT_COMPANY_COVER_LINES (TEXT_EXPR, PRODUCT_COMPANY_COVER_ENTRY_ID, LINE_ORDER) VALUES (${sqlLiteral(wrapAsSpelExpression(line.text_expr))}, ${entryVar}, ${lineIndex + 1});`\n      );\n    });\n  });\n\n  return statements;\n}\n\n// Adaptadores entre la salida de los nodos de limpieza del Excel (`Clean\n// covers and modalities` / `Clean Optional Covers`, portados del workflow\n// legacy `comparative generation.json`) y lo que esperan `matcher.js`\n// (indice de candidatos) y `generator.js` (bullets por cobertura, agrupados\n// por si varian o no entre modalidades). Corresponde a los nodos A6 (\"Build\n// Excel Fixture for Matcher\") y A16 (\"Build Per-Cover Bullet Groups\") del\n// diseño de Fase 4 (ver plan zippy-weaving-crown.md). Codigo puro, se valida\n// offline (run_offline_eval.js, checks --excel-fixture) antes de construir\n// los nodos n8n reales.\n\n\n\n// A6: cleanedModalityCovers = salida de `Clean covers and modalities`\n// ({cover_id, cover_name, modalities: {modality_id: cellText}}[]).\n// cleanedOptionalCovers = salida de `Clean Optional Covers` extendida con\n// `epigrafe` (texto crudo de la columna EPIGRAFE, ver nota A5 del diseño).\n// Produce el fixture exacto que espera matcher.buildCandidateIndex.\nconst GARANTIA_OPCIONAL_MARKER_NORMALIZED = normalize(\"Garantía Opcional\");\n\nfunction isGarantiaOpcionalMarker(bulletText) {\n  return normalize(bulletText) === GARANTIA_OPCIONAL_MARKER_NORMALIZED;\n}\n\nfunction buildExcelFixtureForMatcher(cleanedModalityCovers, cleanedOptionalCovers) {\n  const covers_por_modalidad = (cleanedModalityCovers || []).map(cover => {\n    const seen = new Set();\n    const sample_text_bullets = [];\n    for (const cellText of Object.values(cover.modalities || {})) {\n      for (const bullet of splitBulletsFromCellText(cellText, cover.cover_name)) {\n        if (isGarantiaOpcionalMarker(bullet)) continue;\n        const key = normalize(bullet);\n        if (!seen.has(key)) {\n          seen.add(key);\n          sample_text_bullets.push(bullet);\n        }\n      }\n    }\n    return { cover_id: cover.cover_id, cover_name: cover.cover_name, sample_text_bullets };\n  });\n\n  const coberturas_opcionales = (cleanedOptionalCovers || []).map(opt => ({\n    epigrafe: opt.epigrafe,\n    cover_name: opt.cover_name,\n    text_content: opt.text_content\n  }));\n\n  return { covers_por_modalidad, coberturas_opcionales };\n}\n\nfunction buildBulletGroupsForHeterogeneousCover(coverId, coverName, bulletsByModality) {\n  const modalityIds = Object.keys(bulletsByModality);\n  const normalizedSetPerModality = {};\n  for (const id of modalityIds) {\n    normalizedSetPerModality[id] = new Set(bulletsByModality[id].map(normalize));\n  }\n\n  const defaultBullets = [];\n  const isDefault = new Set();\n  for (const id of modalityIds) {\n    for (const text of bulletsByModality[id]) {\n      const key = normalize(text);\n      if (isDefault.has(key)) continue;\n      const inAllModalities = modalityIds.every(otherId => normalizedSetPerModality[otherId].has(key));\n      if (inAllModalities) {\n        defaultBullets.push(text);\n        isDefault.add(key);\n      }\n    }\n  }\n\n  const perModalityBullets = [];\n  const groupIndexByNormalizedText = new Map();\n  let nextGroupIndex = 0;\n  for (const id of modalityIds) {\n    for (const text of bulletsByModality[id]) {\n      const key = normalize(text);\n      if (isDefault.has(key)) continue;\n      if (!groupIndexByNormalizedText.has(key)) {\n        groupIndexByNormalizedText.set(key, nextGroupIndex++);\n      }\n      perModalityBullets.push({ modalityId: id, text, groupIndex: groupIndexByNormalizedText.get(key) });\n    }\n  }\n\n  return { coverId, coverName, homogeneous: true, defaultBullets, perModalityBullets };\n}\n\nfunction buildBulletGroupsForCover(coverId, coverName, modalitiesMap) {\n  const modalityIds = Object.keys(modalitiesMap || {});\n  const bulletsByModality = {};\n  for (const modalityId of modalityIds) {\n    bulletsByModality[modalityId] = splitBulletsFromCellText(modalitiesMap[modalityId], coverName)\n      .filter(bullet => !isGarantiaOpcionalMarker(bullet));\n  }\n\n  const counts = new Set(modalityIds.map(id => bulletsByModality[id].length));\n  if (counts.size > 1) {\n    return buildBulletGroupsForHeterogeneousCover(coverId, coverName, bulletsByModality);\n  }\n\n  const bulletCount = modalityIds.length === 0 ? 0 : bulletsByModality[modalityIds[0]].length;\n  const defaultBullets = [];\n  const perModalityBullets = [];\n  for (let i = 0; i < bulletCount; i++) {\n    const textsAtPosition = modalityIds.map(id => bulletsByModality[id][i]);\n    const allSame = textsAtPosition.every(t => t === textsAtPosition[0]);\n    if (allSame) {\n      defaultBullets.push(textsAtPosition[0]);\n    } else {\n      modalityIds.forEach((id, idx) => {\n        perModalityBullets.push({ modalityId: id, text: textsAtPosition[idx], groupIndex: i });\n      });\n    }\n  }\n\n  return { coverId, coverName, homogeneous: true, defaultBullets, perModalityBullets };\n}\n\nfunction matchDependenciesToBulletGroups(perModalityBullets, matches, coverId) {\n  function findDependencies(texts) {\n    for (const text of texts) {\n      const bulletNormalized = normalize(text);\n      const hit = (matches || []).find(\n        m => m.cover_id === coverId && normalize(m.excel_quote || m.bullet_match || \"\") === bulletNormalized\n      );\n      if (hit) return hit.dependencies_translated || [];\n    }\n    return [];\n  }\n\n  const byGroupIndex = new Map();\n  for (const bullet of perModalityBullets || []) {\n    const key = bullet.groupIndex;\n    if (!byGroupIndex.has(key)) byGroupIndex.set(key, []);\n    byGroupIndex.get(key).push(bullet);\n  }\n\n  const result = [];\n  for (const family of byGroupIndex.values()) {\n    const dependencies = findDependencies(family.map(b => b.text));\n    for (const { modalityId, text } of family) {\n      result.push({ text, dependencies, modalityId });\n    }\n  }\n  return result;\n}\n\n// --- adaptador n8n (nodo A6) ---\nconst cleanedModalityCovers = $(\"Clean covers and modalities\").all().map(i => i.json);\nconst cleanedOptionalCovers = $(\"Clean Optional Covers\").all().map(i => i.json);\nconst fixture = buildExcelFixtureForMatcher(cleanedModalityCovers, cleanedOptionalCovers);\nreturn [{ json: fixture }];"
      },
      "id": "cig-node-8",
      "name": "Build Excel Fixture for Matcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// --- adaptador n8n (nodo A7) ---\nconst fixture = $input.first().json;\nconst candidateIndex = buildCandidateIndex(fixture);\nreturn [{ json: { candidateIndex } }];"
      },
      "id": "cig-node-9",
      "name": "Build Candidate Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// --- adaptador n8n (nodo A11) ---\n// Codigo puro y rapido (sin llamadas externas) -- corre sobre TODOS los\n// semantic units de una vez, no necesita loop/wait (a diferencia del LLM de\n// decision, que si va en un Loop Over Items para no saturar la API).\nconst candidateIndex = $(\"Build Candidate Index\").first().json.candidateIndex;\nconst artifact = $(\"Read Flujo 2 Artifact\").first().json.data[0];\n\nfunction evidenceOf(unit) {\n  const fromDeps = (unit.coverage_dependencies || []).map(d => d.evidence).join(\" \");\n  return fromDeps || unit.source_text || \"\";\n}\n\nreturn (artifact.artifacts || [])\n  .filter(unit => (unit.coverage_dependencies || []).length > 0)\n  .map(unit => {\n    const result = matchDependency(unit.coverage_path, unit.article, evidenceOf(unit), candidateIndex);\n    const candidates = result.candidates.slice(0, 5).map(c => ({\n      cover_id: c.cover_id,\n      text: c.text,\n      source: c.source,\n      score: c.score,\n      cover_full_text: c.cover_full_text\n    }));\n    return {\n      json: {\n        semantic_unit_id: unit.semantic_unit_id,\n        coverage_path: unit.coverage_path,\n        article: unit.article,\n        evidence: evidenceOf(unit),\n        dependencies: unit.coverage_dependencies,\n        candidates\n      }\n    };\n  });"
      },
      "id": "cig-node-10",
      "name": "Match Candidates (lexical)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        704
      ]
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "cig-node-11",
      "name": "Loop Over Semantic Units",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        704
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rol: Eres un experto en comparativas de coberturas de seguros de Hogar. Tu\nmisión es decidir si una condición extraída del condicionado general (una\n\"dependencia\": un campo del riesgo + operador + valor, ya en inglés) describe\nuna condición estructural de una cobertura concreta del Excel comercial de la\ncompañía, o si no corresponde a ninguna.\n\nRecibirás:\n- La dependencia: `risk_field`, `operator`, `value`, y su `evidence` (la\n  frase real del condicionado de la que se extrajo).\n- El `coverage_path` (jerarquía interna del condicionado) y el `article`.\n- Una lista de CANDIDATOS ya preseleccionados por similitud léxica: cada uno\n  con `cover_id`, `text` (nombre de cobertura o bullet concreto), `source`\n  (`modality_cover_name` | `modality_bullet` | `optional_cover_name`),\n  `score`, y `cover_full_text` (todo el texto de esa cobertura, para que cites\n  literalmente de ahí).\n\nDecide UNA de estas 3 categorías (`decision`):\n\n1. `match`: la dependencia describe una condición real de UNO de los\n   candidatos ofrecidos. Debes citar en `excel_quote` un fragmento LITERAL\n   (copiado tal cual, sin parafrasear) de `cover_full_text` de ese candidato\n   -- va a verificarse automáticamente por subcadena, si no es literal el\n   match se rechaza.\n2. `out_of_scope_product`: el concepto existe en el condicionado pero esta\n   compañía/producto NO comercializa esa garantía en este Excel (no aparece\n   en ningún candidato, ni parecido). Ejemplo real: un condicionado que cubre\n   \"pérdida de alquileres por inhabitabilidad temporal en vivienda de uso\n   turístico\" cuando el Excel de esta compañía no tiene ninguna cobertura de\n   ese tipo -- no hay candidato razonable, es un paquete no comercializado.\n3. `general_policy_rule`: el texto es una regla general de la póliza (p. ej.\n   \"Exclusiones generales para todas las garantías\", artículo transversal sin\n   `coverage_path`), no está ligado a una cobertura concreta y nunca debe\n   forzarse a ninguna.\n\nReglas estrictas (anti-alucinación):\n- `cover_id` SOLO puede ser uno de los `cover_id` que aparecen en la lista de\n  candidatos que has recibido. Si decides `match`, `cover_id` es obligatorio\n  y debe ser exactamente uno de esos valores -- nunca inventes ni reutilices\n  un `cover_id` de memoria. Si decides `out_of_scope_product` o\n  `general_policy_rule`, `cover_id` debe ser `null`.\n- NO te dejes engañar por el título/`article`/`coverage_path`: verifica\n  siempre el TEXTO REAL de los candidatos. Un artículo puede llamarse\n  \"Asistencia\" y en realidad hablar de control de plagas -- si el candidato\n  correcto por CONTENIDO es \"Control de plagas\" (aunque el título no lo\n  sugiera), ese es el match correcto, no el que coincida solo por nombre.\n- La coincidencia debe ser de CONCEPTO/CONDICIÓN, no de objeto de la\n  cobertura: si el texto describe qué cubre una garantía (el objeto), no una\n  condición para que aplique, no fuerces un match solo porque compartan\n  vocabulario.\n- Si ninguna de las 3 categorías encaja con confianza razonable, usa de\n  todos modos la que mejor describa el caso y baja `confidence` a `\"baja\"` --\n  nunca dejes de responder.\n\nNiveles de `confidence`:\n- `\"alta\"`: coincidencia clara de concepto, candidato con score alto, cita\n  literal fácil de encontrar.\n- `\"media\"`: coincidencia razonable pero con alguna ambigüedad (varios\n  candidatos plausibles, o el texto del Excel es parco).\n- `\"baja\"`: dudoso, decisión débil -- estos casos están destinados a\n  revisión humana, no pasan automáticamente.\n\nRestricción de salida: devuelve únicamente un objeto JSON válido con esta\nforma exacta, sin explicaciones ni bloques de código markdown:\n{\n  \"decision\": \"match\" | \"out_of_scope_product\" | \"general_policy_rule\",\n  \"cover_id\": number | null,\n  \"bullet_match\": string | null,\n  \"excel_quote\": string | null,\n  \"confidence\": \"alta\" | \"media\" | \"baja\",\n  \"reasoning\": string\n}\n\nInput Data:\n- Dependencia: {{ JSON.stringify($json.dependencies) }}\n- Evidencia: {{ $json.evidence }}\n- Coverage path: {{ JSON.stringify($json.coverage_path) }}\n- Artículo: {{ $json.article }}\n- Candidatos: {{ JSON.stringify($json.candidates) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "cig-node-12",
      "name": "Coverage Match Decision Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        624
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0
        }
      },
      "id": "cig-node-13",
      "name": "Anthropic Chat Model (Decision)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1152,
        832
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ty0Nlg9GOt4su6PI",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"decision\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"match\",\n        \"out_of_scope_product\",\n        \"general_policy_rule\"\n      ]\n    },\n    \"cover_id\": {\n      \"type\": [\n        \"number\",\n        \"null\"\n      ]\n    },\n    \"bullet_match\": {\n      \"type\": [\n        \"string\",\n        \"null\"\n      ]\n    },\n    \"excel_quote\": {\n      \"type\": [\n        \"string\",\n        \"null\"\n      ]\n    },\n    \"confidence\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"alta\",\n        \"media\",\n        \"baja\"\n      ]\n    },\n    \"reasoning\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"decision\",\n    \"cover_id\",\n    \"bullet_match\",\n    \"excel_quote\",\n    \"confidence\",\n    \"reasoning\"\n  ]\n}"
      },
      "id": "cig-node-14",
      "name": "Structured Output Parser (Decision)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1312,
        832
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "cig-node-15",
      "name": "Wait (Decision)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1408,
        624
      ],
      "webhookId": "c1e6b1a1-0a1a-4a1a-9a1a-c0verageinsert2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "cig-node-16",
      "name": "Merge Loop Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1632,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// Guardrails y ensamblado del JSON intermedio revisable por humano (nodos\n// A13 \"Grounding Guardrail\", A19 \"Tuning Key Guardrail\", A21 \"Assemble\n// Human-Review JSON\" y B3 \"Validate Review Completeness\" del diseño de Fase\n// 4 -- ver plan zippy-weaving-crown.md). Codigo puro, se valida offline\n// (run_offline_eval.js, check --review-assembly) antes de construir los\n// nodos n8n reales.\n\n\n// A13: verifica que la decision del LLM de matching (Coverage Match Decision\n// Agent) no alucine -- (a) el cover_id elegido debe estar entre los\n// candidatos ofrecidos, (b) el excel_quote debe ser substring real\n// (normalizado) del texto completo de ese candidato (`cover_full_text`,\n// mismo campo que ya construye matcher.buildCandidateIndex). Si falla\n// cualquiera, degrada la confianza a \"baja\" -- nunca descarta en silencio,\n// mismo patron de visibilidad que el resto de guardrails del proyecto.\nfunction applyGroundingGuardrail(llmDecision, candidates) {\n  if (llmDecision.decision !== \"match\") {\n    return { ...llmDecision, grounding_ok: true };\n  }\n\n  const candidate = (candidates || []).find(c => c.cover_id === llmDecision.cover_id);\n  if (!candidate) {\n    return { ...llmDecision, grounding_ok: false, confidence: \"baja\", degradation_reason: \"cover_id_not_in_candidates\" };\n  }\n\n  const quoteOk = !!llmDecision.excel_quote &&\n    normalize(candidate.cover_full_text || \"\").includes(normalize(llmDecision.excel_quote));\n  if (!quoteOk) {\n    return { ...llmDecision, grounding_ok: false, confidence: \"baja\", degradation_reason: \"excel_quote_not_grounded\" };\n  }\n\n  return { ...llmDecision, grounding_ok: true };\n}\n\n// A19: valida que el tuning_key devuelto por el Tuning Key Mapping Agent\n// exista realmente en el diccionario de tuning de esa compania, o sea\n// \"NOT_FOUND\" explicito (ya senalado como pendiente en\n// tuning_key_matcher_prompt.md). Un tuning_key inventado se degrada a\n// NOT_FOUND en vez de colarse en el FILTER_EXPR/HIRING_STATUS_EXPR final.\nfunction applyTuningKeyGuardrail(tuningKey, tuningDictionary) {\n  if (tuningKey === \"NOT_FOUND\") {\n    return { tuning_key: \"NOT_FOUND\", valid: true };\n  }\n  if (tuningDictionary && Object.prototype.hasOwnProperty.call(tuningDictionary, tuningKey)) {\n    return { tuning_key: tuningKey, valid: true };\n  }\n  return { tuning_key: \"NOT_FOUND\", valid: false, original_tuning_key: tuningKey, reason: \"tuning_key_not_in_dictionary\" };\n}\n\n// Determina si una entrada necesita revision humana (esquema del JSON\n// intermedio, ver plan Fase 4): confianza de matching distinta de \"alta\",\n// grounding fallido, o traduccion de valor de enum parcial\n// (value_matcher.translateDependencyValue con fullyTranslated: false).\nfunction computeEntryReviewStatus(entry) {\n  const reasons = [];\n  if (entry.match && entry.match.confidence && entry.match.confidence !== \"alta\") {\n    reasons.push(\"match_confidence_not_alta\");\n  }\n  if (entry.match && entry.match.grounding_ok === false) {\n    reasons.push(\"grounding_failed\");\n  }\n  if (entry.value_translation && entry.value_translation.fully_translated === false) {\n    reasons.push(\"value_translation_partial\");\n  }\n  return {\n    review_status: reasons.length > 0 ? \"needs_review\" : \"auto_approved\",\n    review_reasons: reasons\n  };\n}\n\n// A21: ensambla el JSON intermedio final a partir de los registros por\n// cobertura ya generados (generator.buildEntriesForCover + metadatos de\n// matching/traduccion/tuning adjuntos a cada entry). coverRecords:\n// [{coverId, coverName, coverOverride, entries: [{entry_source, bullet_text,\n// modality_id, match, dependencies_raw, dependencies_translated,\n// value_translation, filter_expr, hiring_status_expr, value_expr,\n// tuning_key, human_decision}]}].\nfunction assembleHumanReviewJson({ productCompanyId, ramo, sourceFlow2Artifact, sourceExcel, coverRecords, unmatchedDependencies }) {\n  const covers = (coverRecords || []).map(cover => {\n    const entries = (cover.entries || []).map(entry => {\n      const { review_status, review_reasons } = computeEntryReviewStatus(entry);\n      return { ...entry, review_status, review_reasons, human_decision: entry.human_decision ?? null };\n    });\n    const coverReviewStatus = entries.some(e => e.review_status === \"needs_review\") ? \"needs_review\" : \"auto_approved\";\n    return {\n      cover_id: cover.coverId,\n      cover_name: cover.coverName,\n      cover_override_hiring_status_expr: cover.coverOverride ?? null,\n      review_status: coverReviewStatus,\n      entries\n    };\n  });\n\n  const totalEntries = covers.reduce((sum, c) => sum + c.entries.length, 0);\n  const entriesNeedingReview = covers.reduce(\n    (sum, c) => sum + c.entries.filter(e => e.review_status === \"needs_review\").length,\n    0\n  );\n\n  return {\n    schema_version: \"1.0\",\n    product_company_id: productCompanyId,\n    ramo,\n    source_flow2_artifact: sourceFlow2Artifact,\n    source_excel: sourceExcel,\n    summary: {\n      total_covers: covers.length,\n      covers_needing_review: covers.filter(c => c.review_status === \"needs_review\").length,\n      total_entries: totalEntries,\n      entries_needing_review: entriesNeedingReview\n    },\n    covers,\n    unmatched_dependencies: unmatchedDependencies || []\n  };\n}\n\n// B3: aborta con item de error explicito (nunca rubber-stamp) si queda\n// alguna entrada needs_review sin human_decision.action relleno.\nfunction validateReviewCompleteness(reviewJson) {\n  const pending = [];\n  for (const cover of reviewJson.covers || []) {\n    for (const entry of cover.entries || []) {\n      if (entry.review_status === \"needs_review\" && !(entry.human_decision && entry.human_decision.action)) {\n        pending.push({ cover_id: cover.cover_id, bullet_text: entry.bullet_text });\n      }\n    }\n  }\n  return { complete: pending.length === 0, pending };\n}\n\n// --- adaptador n8n (nodo A13) ---\n// NOTA (primer borrador, a revisar en n8n con datos reales): asume que\n// \"Merge Loop Results\" combina por posicion el item original (con\n// \"candidates\") y la decision del LLM en el mismo item -- verificar en el\n// editor que ambos objetos quedan disponibles juntos (p. ej. bajo\n// item.json y item.json.output, segun como serialice el nodo Agent su\n// salida) y ajustar el acceso si hace falta.\nreturn $input.all().map(item => {\n  const original = item.json;\n  const llmDecision = original.output || original;\n  const guarded = applyGroundingGuardrail(llmDecision, original.candidates || []);\n  return { json: { ...original, ...guarded } };\n});"
      },
      "id": "cig-node-17",
      "name": "Grounding Guardrail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Matcher offline de VALOR de dependencia (flujo 2, texto libre en español) ->\n// valor real de enum en insurance.risk (texto en ingles, p. ej. \"MainResidence\"\n// -- confirmado por el usuario 20/07, ver knowledge/Modelo comparativa de\n// coberturas - AI ready.md). Es un paso PREVIO a generator.translateToSpel:\n// ese modulo solo traduce {risk_field, operator, value} a sintaxis SPEL, no\n// sabe nada de que \"vivienda principal\" == \"MainResidence\" -- ese\n// conocimiento vive aqui.\n//\n// Alcance deliberado (YAGNI): solo se cataloga el vocabulario de los enums que\n// ya han aparecido con dependencias reales extraidas en produccion\n// (housingUse, housingRegime, capitalInsuranceType -- ver golden set de\n// evaluators/coverage_dependency_extractor/golden_dataset.json). El resto de\n// enums de la ontologia (buildingType, buildQuality, materials, location,\n// alarm) no tiene todavia ningun caso real de dependencia -- no se inventa su\n// catalogo de valores hasta que aparezca uno.\n\n\n// Cada entrada: valor real en ingles -> lista de alias en español observados\n// en el condicionado. `knownLimitations` documenta frases reales que SI han\n// aparecido como valor extraido pero que NO se mapean a ningun valor del enum\n// -- no es un hueco por descubrir, es una decision ya tomada (ver memoria\n// project_flujo3_implementation_progress, seccion housingUse/alquiler\n// vacacional): el usuario opto por dejarlo como limitacion conocida en vez de\n// forzar un mapeo o inventar un 4o valor de enum.\nconst ENUM_VALUE_CATALOG = {\n  housingUse: {\n    values: {\n      MainResidence: [\"vivienda principal\", \"residencia principal\", \"domicilio habitual\", \"vivienda habitual\"],\n      SecondHome: [\"vivienda secundaria\", \"segunda residencia\", \"vivienda de temporada\"],\n      UnoccupiedProperty: [\"vivienda vacía\", \"vivienda desocupada\", \"sin ocupación\"]\n    },\n    knownLimitations: [\"alquiler vacacional\", \"uso turístico\", \"otros usos\", \"arrendada\"]\n  },\n  housingRegime: {\n    values: {\n      Owner: [\"propietario\"],\n      Rental: [\"arrendada\", \"vivienda alquilada\"],\n      Tenant: [\"inquilino\", \"arrendatario\"]\n    },\n    knownLimitations: []\n  },\n  capitalInsuranceType: {\n    values: {\n      FirstRisk: [\"primer riesgo\", \"primer_riesgo\"],\n      VReplacementValue: [\"valor de reposición\", \"valor de reposicion\"]\n    },\n    knownLimitations: []\n  }\n};\n\n// Indice alias normalizado -> valor real en ingles, construido una vez por\n// risk_field (mismo espiritu que buildIdf/buildCandidateIndex en matcher.js:\n// precalcular en vez de recorrer todo en cada llamada).\nfunction buildValueIndex(riskField) {\n  const catalog = ENUM_VALUE_CATALOG[riskField];\n  if (!catalog) return null;\n  const aliasToValue = new Map();\n  for (const [value, aliases] of Object.entries(catalog.values)) {\n    for (const alias of aliases) aliasToValue.set(normalize(alias), value);\n  }\n  const knownLimitations = new Set((catalog.knownLimitations || []).map(normalize));\n  return { aliasToValue, knownLimitations };\n}\n\n// Empareja un valor en español (tal cual lo extrae el flujo 2) contra el\n// catalogo del risk_field. No es un match difuso (a diferencia de\n// matcher.js/tuning_matcher.js): los valores de enum son un vocabulario\n// cerrado y corto, alias exacto (normalizado) es suficiente y mas seguro --\n// un match difuso aqui arriesga traducir mal un FILTER_EXPR sin que se note.\nfunction matchEnumValue(riskField, spanishValue) {\n  const index = buildValueIndex(riskField);\n  if (!index) {\n    return { matched: false, value: null, reason: \"risk_field_not_cataloged\" };\n  }\n  const normalized = normalize(spanishValue);\n  if (index.aliasToValue.has(normalized)) {\n    return { matched: true, value: index.aliasToValue.get(normalized), reason: \"alias_match\" };\n  }\n  if (index.knownLimitations.has(normalized)) {\n    return { matched: false, value: null, reason: \"known_limitation\" };\n  }\n  return { matched: false, value: null, reason: \"no_alias_match\" };\n}\n\n// Traduce el/los valor(es) de una dependencia completa {risk_field, operator,\n// value}. Para IN/NOT_IN, value es un array -- se traduce elemento a elemento\n// y se reportan por separado los que no se pudieron traducir (visibilidad,\n// mismo patron que rejected_dependencies/ungrounded_dependencies del\n// guardrail de flujo 2: nunca descartar en silencio).\nfunction translateDependencyValue(dependency) {\n  const isArray = Array.isArray(dependency.value);\n  const rawValues = isArray ? dependency.value : [dependency.value];\n  const results = rawValues.map(v => ({ raw: v, ...matchEnumValue(dependency.risk_field, v) }));\n  const unmatched = results.filter(r => !r.matched);\n  const translatedValues = results.filter(r => r.matched).map(r => r.value);\n\n  return {\n    dependency: {\n      ...dependency,\n      value: isArray ? translatedValues : (translatedValues[0] ?? dependency.value)\n    },\n    fullyTranslated: unmatched.length === 0,\n    unmatched\n  };\n}\n\n// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// --- adaptador n8n (nodo A15) ---\n// Traduce cada dependencia de cada semantic unit ya emparejado (decision ===\n// \"match\") ANTES de que el generador de SPEL vea el valor -- generator.js\n// sigue sin saber nada de traduccion de idioma (deliberado, ver su cabecera).\nreturn $input.all().map(item => {\n  const data = item.json;\n  if (data.decision !== \"match\") return { json: data };\n  const translations = (data.dependencies || []).map(dep => translateDependencyValue(dep));\n  return {\n    json: {\n      ...data,\n      dependencies_translated: translations.map(t => t.dependency),\n      value_translation: {\n        fully_translated: translations.every(t => t.fullyTranslated),\n        unmatched: translations.flatMap(t => t.unmatched)\n      }\n    }\n  };\n});"
      },
      "id": "cig-node-18",
      "name": "Translate Dependency Values",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// Generador de ENTRY/LINES (y su JSON intermedio) para una cobertura\n// (COVER_ID), a partir de: el texto libre del Excel troceado en bullets, las\n// dependencias ya emparejadas por matcher.js, y las reglas fijadas en\n// knowledge/Modelo comparativa de coberturas - AI ready.md.\n//\n// Codigo puro (sin n8n, sin LLM) -- se valida offline (evaluators/\n// coverage_insert_generator/run_offline_eval.js, check --generator) antes de\n// construir el nodo n8n real (Fase 4 del plan, CLAUDE.md SS7).\n\nconst OPERATOR_TO_SPEL = {\n  \"=\": \"==\",\n  \"!=\": \"!=\",\n  \">\": \">\",\n  \">=\": \">=\",\n  \"<\": \"<\",\n  \"<=\": \"<=\"\n};\n\nfunction quoteSpelValue(value) {\n  if (typeof value === \"string\") {\n    return `'${value.replace(/'/g, \"\\\\'\")}'`;\n  }\n  if (typeof value === \"boolean\" || typeof value === \"number\") {\n    return String(value);\n  }\n  throw new Error(`Tipo de valor SPEL no soportado: ${typeof value} (${JSON.stringify(value)})`);\n}\n\n// Traduce una dependencia {risk_field, operator, value} (esquema del flujo 2)\n// a una condicion SPEL sobre insurance[\"risk\"]. Sintaxis de IN/NOT_IN\n// confirmada por el usuario: `campo in {v1,v2,v3}` / `!(campo in {v1,v2,v3})`.\nfunction translateToSpel(dependency) {\n  const field = `insurance[\"risk\"].${dependency.risk_field}`;\n\n  if (dependency.operator === \"IN\" || dependency.operator === \"NOT_IN\") {\n    if (!Array.isArray(dependency.value)) {\n      throw new Error(`operator ${dependency.operator} requiere value como array (dependency: ${JSON.stringify(dependency)})`);\n    }\n    const list = `{${dependency.value.map(quoteSpelValue).join(\",\")}}`;\n    const membership = `${field} in ${list}`;\n    return dependency.operator === \"IN\" ? membership : `!(${membership})`;\n  }\n\n  const spelOp = OPERATOR_TO_SPEL[dependency.operator];\n  if (!spelOp) {\n    throw new Error(`Operador desconocido: ${dependency.operator}`);\n  }\n  return `${field} ${spelOp} ${quoteSpelValue(dependency.value)}`;\n}\n\n// Combina varias dependencias de un mismo ENTRY con AND. Con 1 sola\n// dependencia no anade parentesis de mas.\nfunction combineFilterExpr(dependencies) {\n  if (!dependencies || dependencies.length === 0) return null;\n  const parts = dependencies.map(translateToSpel);\n  return parts.length === 1 ? parts[0] : parts.map(p => `(${p})`).join(\" && \");\n}\n\n// Escapa un texto libre para usarlo como literal de cadena SPEL en TEXT_EXPR.\nfunction spelStringLiteral(text) {\n  return `'${(text || \"\").replace(/'/g, \"\\\\'\")}'`;\n}\n\n// Trocea el texto libre de una celda del Excel en bullets (una linea por\n// bullet, ver knowledge/.../criterio de granularidad de LINES). Descarta la\n// primera linea si es solo el nombre de la cobertura repetido (patron real\n// observado: la celda empieza con el propio nombre a modo de cabecera).\nfunction splitBulletsFromCellText(cellText, coverName) {\n  const lines = (cellText || \"\")\n    .split(\"\\n\")\n    .map(l => l.trim())\n    .filter(l => l.length > 0);\n  if (lines.length > 1 && coverName && lines[0].toLowerCase() === coverName.toLowerCase()) {\n    return lines.slice(1);\n  }\n  return lines;\n}\n\n// Construye los ENTRY/LINES de una cobertura completa.\n//\n// Input:\n//   coverId, coverName\n//   defaultBullets: string[] -- bullets sin ninguna dependencia estructural\n//     emparejada (van todos en un unico ENTRY por defecto).\n//   conditionedBullets: [{ text, dependencies, modalityId }] -- un ENTRY por\n//     elemento (ver criterio de granularidad: ENTRY = condicion estructural).\n//   opcionales: [{ coverName, textContent, hiringStatusExpr }] -- de la hoja\n//     \"Coberturas opcionales\" ya resueltos a este cover_id.\n//\n// Output: { entries: [...], coverOverride: string|null }\nfunction buildEntriesForCover({ coverId, coverName, defaultBullets = [], conditionedBullets = [], opcionales = [] }) {\n  const entries = [];\n\n  if (defaultBullets.length > 0) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: null,\n      hiring_status_expr: \"INCLUDED\",\n      value_expr: null,\n      modality_id: null,\n      source: \"default\",\n      lines: defaultBullets.map(text => ({ filter_expr: null, text_expr: spelStringLiteral(text) }))\n    });\n  }\n\n  for (const bullet of conditionedBullets) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: combineFilterExpr(bullet.dependencies),\n      hiring_status_expr: \"INCLUDED\",\n      value_expr: null,\n      modality_id: bullet.modalityId ?? null,\n      source: \"modality_bullet\",\n      lines: [{ filter_expr: null, text_expr: spelStringLiteral(bullet.text) }]\n    });\n  }\n\n  for (const opt of opcionales) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: opt.filterExpr ?? null,\n      hiring_status_expr: opt.hiringStatusExpr || \"OPTIONAL\",\n      value_expr: null,\n      modality_id: null,\n      source: \"optional_cover\",\n      lines: [{ filter_expr: null, text_expr: spelStringLiteral(opt.textContent) }]\n    });\n  }\n\n  const coverOverride = computeCoverOverride(entries);\n  if (coverOverride) {\n    for (const entry of entries) {\n      if (entry.filter_expr === coverOverride.sharedCondition) {\n        entry.filter_expr = null;\n      }\n    }\n  }\n\n  return {\n    entries,\n    coverOverride: coverOverride ? coverOverride.hiringStatusExpr : null\n  };\n}\n\n// Regla de optimizacion: si TODOS los ENTRY (2 o mas) comparten exactamente\n// la misma condicion no nula, se traslada al HIRING_STATUS_EXPR de\n// PRODUCT_COMPANY_COVER en vez de repetirse en cada ENTRY (decision del\n// usuario, opcion B: el contenido sigue visible aunque la cobertura salga\n// NOT_INCLUDED). Con menos de 2 ENTRY no hay nada que deduplicar.\nfunction computeCoverOverride(entries) {\n  if (entries.length < 2) return null;\n  const conditions = entries.map(e => e.filter_expr);\n  if (conditions.some(c => c == null)) return null;\n  const allSame = conditions.every(c => c === conditions[0]);\n  if (!allSame) return null;\n  return {\n    sharedCondition: conditions[0],\n    hiringStatusExpr: `${conditions[0]} ? \"INCLUDED\" : \"NOT_INCLUDED\"`\n  };\n}\n\n// Generacion del SQL INSERT final (motor: MySQL, confirmado por el usuario)\n// a partir del artefacto de una cobertura (ver buildEntriesForCover). Usa\n// variables de sesion (`SET @var := LAST_INSERT_ID()`) para encadenar las FK\n// entre PRODUCT_COMPANY_COVER -> _ENTRY -> _LINES, ya que los INSERT se\n// ejecutan secuencialmente y el ID de cada fila se genera en la propia BBDD.\n//\n// Confirmado por el usuario (20/07): toda expresion SPEL (no solo TEXT_EXPR)\n// lleva el envoltorio \"/\" ... \"/\" -- se aplica por igual a FILTER_EXPR/\n// HIRING_STATUS_EXPR/VALUE_EXPR/TEXT_EXPR.\nfunction wrapAsSpelExpression(rawExpr) {\n  return rawExpr == null ? null : `/${rawExpr}/`;\n}\n\n// Literal SQL: escapa comillas simples con backslash, igual que el ejemplo\n// real del modelo (`'/\\'texto\\'/'`) -- convencion de MySQL con\n// NO_BACKSLASH_ESCAPES desactivado (el modo por defecto).\nfunction sqlLiteral(value) {\n  if (value == null) return \"NULL\";\n  if (typeof value === \"number\") return String(value);\n  return `'${String(value).replace(/'/g, \"\\\\'\")}'`;\n}\n\n// coverArtifact: { coverId, productCompanyId, coverOverride, entries } --\n// coverOverride y entries.*.filter_expr/hiring_status_expr/value_expr son\n// expresiones SPEL en crudo (sin el envoltorio \"/.../\"); entries.*.lines[].\n// text_expr ya viene como literal de cadena SPEL (`'texto'`, ver\n// spelStringLiteral) al que tambien hay que anadirle el envoltorio.\nfunction buildInsertStatements({ coverId, productCompanyId, coverOverride, entries }) {\n  const statements = [];\n\n  statements.push(\n    `INSERT INTO PRODUCT_COMPANY_COVER (HIRING_STATUS_EXPR, COVER_ID, PRODUCT_COMPANY_ID) VALUES (${sqlLiteral(wrapAsSpelExpression(coverOverride))}, ${coverId}, ${productCompanyId});`\n  );\n  statements.push(\"SET @cover_id := LAST_INSERT_ID();\");\n\n  entries.forEach((entry, entryIndex) => {\n    const entryVar = `@entry_id_${entryIndex + 1}`;\n    statements.push(\n      `INSERT INTO PRODUCT_COMPANY_COVER_ENTRY (FILTER_EXPR, HIRING_STATUS_EXPR, ENTRY_ORDER, VALUE_EXPR, UNIT, PRODUCT_COMPANY_MODALITY_ID, PRODUCT_COMPANY_COVER_ID) VALUES (${sqlLiteral(wrapAsSpelExpression(entry.filter_expr))}, ${sqlLiteral(wrapAsSpelExpression(entry.hiring_status_expr))}, ${entryIndex + 1}, ${sqlLiteral(wrapAsSpelExpression(entry.value_expr))}, NULL, ${entry.modality_id ?? \"NULL\"}, @cover_id);`\n    );\n    statements.push(`SET ${entryVar} := LAST_INSERT_ID();`);\n\n    entry.lines.forEach((line, lineIndex) => {\n      statements.push(\n        `INSERT INTO PRODUCT_COMPANY_COVER_LINES (TEXT_EXPR, PRODUCT_COMPANY_COVER_ENTRY_ID, LINE_ORDER) VALUES (${sqlLiteral(wrapAsSpelExpression(line.text_expr))}, ${entryVar}, ${lineIndex + 1});`\n      );\n    });\n  });\n\n  return statements;\n}\n\n// Adaptadores entre la salida de los nodos de limpieza del Excel (`Clean\n// covers and modalities` / `Clean Optional Covers`, portados del workflow\n// legacy `comparative generation.json`) y lo que esperan `matcher.js`\n// (indice de candidatos) y `generator.js` (bullets por cobertura, agrupados\n// por si varian o no entre modalidades). Corresponde a los nodos A6 (\"Build\n// Excel Fixture for Matcher\") y A16 (\"Build Per-Cover Bullet Groups\") del\n// diseño de Fase 4 (ver plan zippy-weaving-crown.md). Codigo puro, se valida\n// offline (run_offline_eval.js, checks --excel-fixture) antes de construir\n// los nodos n8n reales.\n\n\n\n// A6: cleanedModalityCovers = salida de `Clean covers and modalities`\n// ({cover_id, cover_name, modalities: {modality_id: cellText}}[]).\n// cleanedOptionalCovers = salida de `Clean Optional Covers` extendida con\n// `epigrafe` (texto crudo de la columna EPIGRAFE, ver nota A5 del diseño).\n// Produce el fixture exacto que espera matcher.buildCandidateIndex.\nconst GARANTIA_OPCIONAL_MARKER_NORMALIZED = normalize(\"Garantía Opcional\");\n\nfunction isGarantiaOpcionalMarker(bulletText) {\n  return normalize(bulletText) === GARANTIA_OPCIONAL_MARKER_NORMALIZED;\n}\n\nfunction buildExcelFixtureForMatcher(cleanedModalityCovers, cleanedOptionalCovers) {\n  const covers_por_modalidad = (cleanedModalityCovers || []).map(cover => {\n    const seen = new Set();\n    const sample_text_bullets = [];\n    for (const cellText of Object.values(cover.modalities || {})) {\n      for (const bullet of splitBulletsFromCellText(cellText, cover.cover_name)) {\n        if (isGarantiaOpcionalMarker(bullet)) continue;\n        const key = normalize(bullet);\n        if (!seen.has(key)) {\n          seen.add(key);\n          sample_text_bullets.push(bullet);\n        }\n      }\n    }\n    return { cover_id: cover.cover_id, cover_name: cover.cover_name, sample_text_bullets };\n  });\n\n  const coberturas_opcionales = (cleanedOptionalCovers || []).map(opt => ({\n    epigrafe: opt.epigrafe,\n    cover_name: opt.cover_name,\n    text_content: opt.text_content\n  }));\n\n  return { covers_por_modalidad, coberturas_opcionales };\n}\n\nfunction buildBulletGroupsForHeterogeneousCover(coverId, coverName, bulletsByModality) {\n  const modalityIds = Object.keys(bulletsByModality);\n  const normalizedSetPerModality = {};\n  for (const id of modalityIds) {\n    normalizedSetPerModality[id] = new Set(bulletsByModality[id].map(normalize));\n  }\n\n  const defaultBullets = [];\n  const isDefault = new Set();\n  for (const id of modalityIds) {\n    for (const text of bulletsByModality[id]) {\n      const key = normalize(text);\n      if (isDefault.has(key)) continue;\n      const inAllModalities = modalityIds.every(otherId => normalizedSetPerModality[otherId].has(key));\n      if (inAllModalities) {\n        defaultBullets.push(text);\n        isDefault.add(key);\n      }\n    }\n  }\n\n  const perModalityBullets = [];\n  const groupIndexByNormalizedText = new Map();\n  let nextGroupIndex = 0;\n  for (const id of modalityIds) {\n    for (const text of bulletsByModality[id]) {\n      const key = normalize(text);\n      if (isDefault.has(key)) continue;\n      if (!groupIndexByNormalizedText.has(key)) {\n        groupIndexByNormalizedText.set(key, nextGroupIndex++);\n      }\n      perModalityBullets.push({ modalityId: id, text, groupIndex: groupIndexByNormalizedText.get(key) });\n    }\n  }\n\n  return { coverId, coverName, homogeneous: true, defaultBullets, perModalityBullets };\n}\n\nfunction buildBulletGroupsForCover(coverId, coverName, modalitiesMap) {\n  const modalityIds = Object.keys(modalitiesMap || {});\n  const bulletsByModality = {};\n  for (const modalityId of modalityIds) {\n    bulletsByModality[modalityId] = splitBulletsFromCellText(modalitiesMap[modalityId], coverName)\n      .filter(bullet => !isGarantiaOpcionalMarker(bullet));\n  }\n\n  const counts = new Set(modalityIds.map(id => bulletsByModality[id].length));\n  if (counts.size > 1) {\n    return buildBulletGroupsForHeterogeneousCover(coverId, coverName, bulletsByModality);\n  }\n\n  const bulletCount = modalityIds.length === 0 ? 0 : bulletsByModality[modalityIds[0]].length;\n  const defaultBullets = [];\n  const perModalityBullets = [];\n  for (let i = 0; i < bulletCount; i++) {\n    const textsAtPosition = modalityIds.map(id => bulletsByModality[id][i]);\n    const allSame = textsAtPosition.every(t => t === textsAtPosition[0]);\n    if (allSame) {\n      defaultBullets.push(textsAtPosition[0]);\n    } else {\n      modalityIds.forEach((id, idx) => {\n        perModalityBullets.push({ modalityId: id, text: textsAtPosition[idx], groupIndex: i });\n      });\n    }\n  }\n\n  return { coverId, coverName, homogeneous: true, defaultBullets, perModalityBullets };\n}\n\nfunction matchDependenciesToBulletGroups(perModalityBullets, matches, coverId) {\n  function findDependencies(texts) {\n    for (const text of texts) {\n      const bulletNormalized = normalize(text);\n      const hit = (matches || []).find(\n        m => m.cover_id === coverId && normalize(m.excel_quote || m.bullet_match || \"\") === bulletNormalized\n      );\n      if (hit) return hit.dependencies_translated || [];\n    }\n    return [];\n  }\n\n  const byGroupIndex = new Map();\n  for (const bullet of perModalityBullets || []) {\n    const key = bullet.groupIndex;\n    if (!byGroupIndex.has(key)) byGroupIndex.set(key, []);\n    byGroupIndex.get(key).push(bullet);\n  }\n\n  const result = [];\n  for (const family of byGroupIndex.values()) {\n    const dependencies = findDependencies(family.map(b => b.text));\n    for (const { modalityId, text } of family) {\n      result.push({ text, dependencies, modalityId });\n    }\n  }\n  return result;\n}\n\n// --- adaptador n8n (nodo A16) ---\n// NOTA (primer borrador, a revisar/ajustar en n8n con un caso real end-to-end):\n// agrupa los bullets de CADA cobertura por si varian entre modalidades, y\n// adjunta las dependencias ya traducidas de \"Translate Dependency Values\"\n// buscando por texto normalizado (bullet_match/excel_quote) -- casos con\n// homogeneous:false (numero de bullets distinto entre modalidades, ver caso\n// real COVER_ID 16 \"Robo\") quedan marcados para revision manual, no se\n// alinean a la fuerza.\nconst modalityCovers = $(\"Clean covers and modalities\").all().map(i => i.json);\nconst matches = $(\"Translate Dependency Values\").all().map(i => i.json).filter(m => m.decision === \"match\");\n\nfunction findDependenciesForBullet(coverId, bulletText) {\n  const bulletNormalized = normalize(bulletText);\n  const hit = matches.find(m => m.cover_id === coverId && normalize(m.excel_quote || m.bullet_match || \"\") === bulletNormalized);\n  return hit ? (hit.dependencies_translated || []) : [];\n}\n\nreturn modalityCovers.map(cover => {\n  const groups = buildBulletGroupsForCover(cover.cover_id, cover.cover_name, cover.modalities);\n  if (!groups.homogeneous) {\n    return { json: { coverId: cover.cover_id, coverName: cover.cover_name, homogeneous: false, warning: groups.warning } };\n  }\n  const defaultBullets = [];\n  const conditionedBullets = [];\n  for (const text of groups.defaultBullets) {\n    const deps = findDependenciesForBullet(cover.cover_id, text);\n    if (deps.length > 0) conditionedBullets.push({ text, dependencies: deps, modalityId: null });\n    else defaultBullets.push(text);\n  }\n  conditionedBullets.push(...matchDependenciesToBulletGroups(groups.perModalityBullets, matches, cover.cover_id));\n  return { json: { coverId: cover.cover_id, coverName: cover.cover_name, homogeneous: true, defaultBullets, conditionedBullets } };\n});"
      },
      "id": "cig-node-19",
      "name": "Build Per-Cover Bullet Groups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Ported pattern de \"build agents context\" (legacy). Alcance confirmado por\n// el usuario (20/07): el matching texto->tuning_key en \"Coberturas por\n// modalidad\" se limita a bullets literales \"Garantia Opcional\" -- no se\n// corre sobre todos los bullets de esa hoja.\nconst modalityCovers = $(\"Clean covers and modalities\").all().map(i => i.json);\nconst optionalCovers = $(\"Clean Optional Covers\").all().map(i => i.json);\nconst tuningRaw = $(\"Read Tuning Dictionary\").first().json;\nconst tuningDictionary = tuningRaw.data ? tuningRaw.data : tuningRaw;\nconst tuningSimplified = Object.keys(tuningDictionary).map(key => ({\n  key,\n  label: (tuningDictionary[key] && tuningDictionary[key].label) ? tuningDictionary[key].label : \"Sin etiqueta\"\n}));\n\nconst modalitiesNeedingTuning = [];\nfor (const cover of modalityCovers) {\n  for (const cellText of Object.values(cover.modalities || {})) {\n    if (cellText.split(\"\\n\").some(line => line.trim().toLowerCase() === \"garantía opcional\")) {\n      modalitiesNeedingTuning.push({ cover_id: cover.cover_id, cover_name: cover.cover_name });\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    context: {\n      data: {\n        modalities: modalitiesNeedingTuning,\n        optionals: optionalCovers,\n        tuning: tuningSimplified\n      }\n    },\n    tuningDictionary\n  }\n}];"
      },
      "id": "cig-node-20",
      "name": "Build Tuning Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        960
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rol: Eres un experto en sistemas de Seguros y Mapping de Datos. Tu mision es\nrealizar un mapeo semantico entre coberturas comerciales (Excel) y claves\ntecnicas (Tuning).\n\nProtocolo de actuacion:\n1. Origen de datos: recibiras una lista de coberturas del Excel -- tanto de\n   \"Coberturas por modalidad\" (nombre de cobertura + bullets) como de\n   \"Coberturas opcionales\" (nombre + texto).\n2. Diccionario de referencia: usaras las claves (key) y etiquetas (label) del\n   diccionario de tuning.\n3. Conocimiento de dominio (seguros):\n   - Entiende acronimos: \"RC\"/\"R.C.\" es \"Responsabilidad Civil\", \"DA\" es\n     \"Danos por Agua\".\n   - Jerarquia: si el Excel pide algo especifico (ej. \"perros peligrosos\") y\n     el tuning tiene el concepto general (ej. \"tenencia de perros\"), el mapeo\n     es CORRECTO.\n4. Logica de mapeo semantico:\n   - No busques coincidencia de palabras exacta, busca coincidencia de\n     concepto.\n   - La key puede ser una pista secundaria (ej. claves que empiezan por \"qrc\"\n     suelen referirse a Responsabilidad Civil), pero prioriza el label.\n5. Control de errores: solo si no hay absolutamente ninguna relacion tematica\n   entre la cobertura y el diccionario, devuelve \"NOT_FOUND\" -- no inventes\n   una key.\n\nRestriccion de salida: devuelve unicamente un objeto JSON valido con el array\n`mappings`, sin explicaciones ni bloques de codigo markdown. No modifiques el\ncover_name/bullet_text de entrada.\n\nInput Data:\n- Coberturas por modalidad (Excel): {{ JSON.stringify($json.context.data.modalities) }}\n- Coberturas opcionales (Excel): {{ JSON.stringify($json.context.data.optionals) }}\n- Diccionario de referencia (Tuning): {{ JSON.stringify($json.context.data.tuning) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "cig-node-21",
      "name": "Tuning Key Mapping Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2720,
        960
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0
        }
      },
      "id": "cig-node-22",
      "name": "Anthropic Chat Model (Tuning)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2688,
        1120
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ty0Nlg9GOt4su6PI",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mappings\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"excel_name\": {\n            \"type\": \"string\"\n          },\n          \"tuning_key\": {\n            \"type\": \"string\"\n          },\n          \"confidence\": {\n            \"type\": \"number\"\n          },\n          \"reasoning\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"excel_name\",\n          \"tuning_key\",\n          \"confidence\",\n          \"reasoning\"\n        ]\n      }\n    }\n  }\n}"
      },
      "id": "cig-node-23",
      "name": "Structured Output Parser (Tuning)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2848,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Guardrails y ensamblado del JSON intermedio revisable por humano (nodos\n// A13 \"Grounding Guardrail\", A19 \"Tuning Key Guardrail\", A21 \"Assemble\n// Human-Review JSON\" y B3 \"Validate Review Completeness\" del diseño de Fase\n// 4 -- ver plan zippy-weaving-crown.md). Codigo puro, se valida offline\n// (run_offline_eval.js, check --review-assembly) antes de construir los\n// nodos n8n reales.\n\n\n// A13: verifica que la decision del LLM de matching (Coverage Match Decision\n// Agent) no alucine -- (a) el cover_id elegido debe estar entre los\n// candidatos ofrecidos, (b) el excel_quote debe ser substring real\n// (normalizado) del texto completo de ese candidato (`cover_full_text`,\n// mismo campo que ya construye matcher.buildCandidateIndex). Si falla\n// cualquiera, degrada la confianza a \"baja\" -- nunca descarta en silencio,\n// mismo patron de visibilidad que el resto de guardrails del proyecto.\nfunction applyGroundingGuardrail(llmDecision, candidates) {\n  if (llmDecision.decision !== \"match\") {\n    return { ...llmDecision, grounding_ok: true };\n  }\n\n  const candidate = (candidates || []).find(c => c.cover_id === llmDecision.cover_id);\n  if (!candidate) {\n    return { ...llmDecision, grounding_ok: false, confidence: \"baja\", degradation_reason: \"cover_id_not_in_candidates\" };\n  }\n\n  const quoteOk = !!llmDecision.excel_quote &&\n    normalize(candidate.cover_full_text || \"\").includes(normalize(llmDecision.excel_quote));\n  if (!quoteOk) {\n    return { ...llmDecision, grounding_ok: false, confidence: \"baja\", degradation_reason: \"excel_quote_not_grounded\" };\n  }\n\n  return { ...llmDecision, grounding_ok: true };\n}\n\n// A19: valida que el tuning_key devuelto por el Tuning Key Mapping Agent\n// exista realmente en el diccionario de tuning de esa compania, o sea\n// \"NOT_FOUND\" explicito (ya senalado como pendiente en\n// tuning_key_matcher_prompt.md). Un tuning_key inventado se degrada a\n// NOT_FOUND en vez de colarse en el FILTER_EXPR/HIRING_STATUS_EXPR final.\nfunction applyTuningKeyGuardrail(tuningKey, tuningDictionary) {\n  if (tuningKey === \"NOT_FOUND\") {\n    return { tuning_key: \"NOT_FOUND\", valid: true };\n  }\n  if (tuningDictionary && Object.prototype.hasOwnProperty.call(tuningDictionary, tuningKey)) {\n    return { tuning_key: tuningKey, valid: true };\n  }\n  return { tuning_key: \"NOT_FOUND\", valid: false, original_tuning_key: tuningKey, reason: \"tuning_key_not_in_dictionary\" };\n}\n\n// Determina si una entrada necesita revision humana (esquema del JSON\n// intermedio, ver plan Fase 4): confianza de matching distinta de \"alta\",\n// grounding fallido, o traduccion de valor de enum parcial\n// (value_matcher.translateDependencyValue con fullyTranslated: false).\nfunction computeEntryReviewStatus(entry) {\n  const reasons = [];\n  if (entry.match && entry.match.confidence && entry.match.confidence !== \"alta\") {\n    reasons.push(\"match_confidence_not_alta\");\n  }\n  if (entry.match && entry.match.grounding_ok === false) {\n    reasons.push(\"grounding_failed\");\n  }\n  if (entry.value_translation && entry.value_translation.fully_translated === false) {\n    reasons.push(\"value_translation_partial\");\n  }\n  return {\n    review_status: reasons.length > 0 ? \"needs_review\" : \"auto_approved\",\n    review_reasons: reasons\n  };\n}\n\n// A21: ensambla el JSON intermedio final a partir de los registros por\n// cobertura ya generados (generator.buildEntriesForCover + metadatos de\n// matching/traduccion/tuning adjuntos a cada entry). coverRecords:\n// [{coverId, coverName, coverOverride, entries: [{entry_source, bullet_text,\n// modality_id, match, dependencies_raw, dependencies_translated,\n// value_translation, filter_expr, hiring_status_expr, value_expr,\n// tuning_key, human_decision}]}].\nfunction assembleHumanReviewJson({ productCompanyId, ramo, sourceFlow2Artifact, sourceExcel, coverRecords, unmatchedDependencies }) {\n  const covers = (coverRecords || []).map(cover => {\n    const entries = (cover.entries || []).map(entry => {\n      const { review_status, review_reasons } = computeEntryReviewStatus(entry);\n      return { ...entry, review_status, review_reasons, human_decision: entry.human_decision ?? null };\n    });\n    const coverReviewStatus = entries.some(e => e.review_status === \"needs_review\") ? \"needs_review\" : \"auto_approved\";\n    return {\n      cover_id: cover.coverId,\n      cover_name: cover.coverName,\n      cover_override_hiring_status_expr: cover.coverOverride ?? null,\n      review_status: coverReviewStatus,\n      entries\n    };\n  });\n\n  const totalEntries = covers.reduce((sum, c) => sum + c.entries.length, 0);\n  const entriesNeedingReview = covers.reduce(\n    (sum, c) => sum + c.entries.filter(e => e.review_status === \"needs_review\").length,\n    0\n  );\n\n  return {\n    schema_version: \"1.0\",\n    product_company_id: productCompanyId,\n    ramo,\n    source_flow2_artifact: sourceFlow2Artifact,\n    source_excel: sourceExcel,\n    summary: {\n      total_covers: covers.length,\n      covers_needing_review: covers.filter(c => c.review_status === \"needs_review\").length,\n      total_entries: totalEntries,\n      entries_needing_review: entriesNeedingReview\n    },\n    covers,\n    unmatched_dependencies: unmatchedDependencies || []\n  };\n}\n\n// B3: aborta con item de error explicito (nunca rubber-stamp) si queda\n// alguna entrada needs_review sin human_decision.action relleno.\nfunction validateReviewCompleteness(reviewJson) {\n  const pending = [];\n  for (const cover of reviewJson.covers || []) {\n    for (const entry of cover.entries || []) {\n      if (entry.review_status === \"needs_review\" && !(entry.human_decision && entry.human_decision.action)) {\n        pending.push({ cover_id: cover.cover_id, bullet_text: entry.bullet_text });\n      }\n    }\n  }\n  return { complete: pending.length === 0, pending };\n}\n\n// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// --- adaptador n8n (nodo A19) ---\nconst mappings = $input.first().json.output.mappings;\nconst tuningDictionary = $(\"Build Tuning Context\").first().json.tuningDictionary;\nreturn mappings.map(m => ({\n  json: { excel_name: m.excel_name, ...applyTuningKeyGuardrail(m.tuning_key, tuningDictionary) }\n}));"
      },
      "id": "cig-node-24",
      "name": "Tuning Key Guardrail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generador de ENTRY/LINES (y su JSON intermedio) para una cobertura\n// (COVER_ID), a partir de: el texto libre del Excel troceado en bullets, las\n// dependencias ya emparejadas por matcher.js, y las reglas fijadas en\n// knowledge/Modelo comparativa de coberturas - AI ready.md.\n//\n// Codigo puro (sin n8n, sin LLM) -- se valida offline (evaluators/\n// coverage_insert_generator/run_offline_eval.js, check --generator) antes de\n// construir el nodo n8n real (Fase 4 del plan, CLAUDE.md SS7).\n\nconst OPERATOR_TO_SPEL = {\n  \"=\": \"==\",\n  \"!=\": \"!=\",\n  \">\": \">\",\n  \">=\": \">=\",\n  \"<\": \"<\",\n  \"<=\": \"<=\"\n};\n\nfunction quoteSpelValue(value) {\n  if (typeof value === \"string\") {\n    return `'${value.replace(/'/g, \"\\\\'\")}'`;\n  }\n  if (typeof value === \"boolean\" || typeof value === \"number\") {\n    return String(value);\n  }\n  throw new Error(`Tipo de valor SPEL no soportado: ${typeof value} (${JSON.stringify(value)})`);\n}\n\n// Traduce una dependencia {risk_field, operator, value} (esquema del flujo 2)\n// a una condicion SPEL sobre insurance[\"risk\"]. Sintaxis de IN/NOT_IN\n// confirmada por el usuario: `campo in {v1,v2,v3}` / `!(campo in {v1,v2,v3})`.\nfunction translateToSpel(dependency) {\n  const field = `insurance[\"risk\"].${dependency.risk_field}`;\n\n  if (dependency.operator === \"IN\" || dependency.operator === \"NOT_IN\") {\n    if (!Array.isArray(dependency.value)) {\n      throw new Error(`operator ${dependency.operator} requiere value como array (dependency: ${JSON.stringify(dependency)})`);\n    }\n    const list = `{${dependency.value.map(quoteSpelValue).join(\",\")}}`;\n    const membership = `${field} in ${list}`;\n    return dependency.operator === \"IN\" ? membership : `!(${membership})`;\n  }\n\n  const spelOp = OPERATOR_TO_SPEL[dependency.operator];\n  if (!spelOp) {\n    throw new Error(`Operador desconocido: ${dependency.operator}`);\n  }\n  return `${field} ${spelOp} ${quoteSpelValue(dependency.value)}`;\n}\n\n// Combina varias dependencias de un mismo ENTRY con AND. Con 1 sola\n// dependencia no anade parentesis de mas.\nfunction combineFilterExpr(dependencies) {\n  if (!dependencies || dependencies.length === 0) return null;\n  const parts = dependencies.map(translateToSpel);\n  return parts.length === 1 ? parts[0] : parts.map(p => `(${p})`).join(\" && \");\n}\n\n// Escapa un texto libre para usarlo como literal de cadena SPEL en TEXT_EXPR.\nfunction spelStringLiteral(text) {\n  return `'${(text || \"\").replace(/'/g, \"\\\\'\")}'`;\n}\n\n// Trocea el texto libre de una celda del Excel en bullets (una linea por\n// bullet, ver knowledge/.../criterio de granularidad de LINES). Descarta la\n// primera linea si es solo el nombre de la cobertura repetido (patron real\n// observado: la celda empieza con el propio nombre a modo de cabecera).\nfunction splitBulletsFromCellText(cellText, coverName) {\n  const lines = (cellText || \"\")\n    .split(\"\\n\")\n    .map(l => l.trim())\n    .filter(l => l.length > 0);\n  if (lines.length > 1 && coverName && lines[0].toLowerCase() === coverName.toLowerCase()) {\n    return lines.slice(1);\n  }\n  return lines;\n}\n\n// Construye los ENTRY/LINES de una cobertura completa.\n//\n// Input:\n//   coverId, coverName\n//   defaultBullets: string[] -- bullets sin ninguna dependencia estructural\n//     emparejada (van todos en un unico ENTRY por defecto).\n//   conditionedBullets: [{ text, dependencies, modalityId }] -- un ENTRY por\n//     elemento (ver criterio de granularidad: ENTRY = condicion estructural).\n//   opcionales: [{ coverName, textContent, hiringStatusExpr }] -- de la hoja\n//     \"Coberturas opcionales\" ya resueltos a este cover_id.\n//\n// Output: { entries: [...], coverOverride: string|null }\nfunction buildEntriesForCover({ coverId, coverName, defaultBullets = [], conditionedBullets = [], opcionales = [] }) {\n  const entries = [];\n\n  if (defaultBullets.length > 0) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: null,\n      hiring_status_expr: \"INCLUDED\",\n      value_expr: null,\n      modality_id: null,\n      source: \"default\",\n      lines: defaultBullets.map(text => ({ filter_expr: null, text_expr: spelStringLiteral(text) }))\n    });\n  }\n\n  for (const bullet of conditionedBullets) {\n    entries.push({\n      cover_id: coverId,\n      filter_expr: combineFilterExpr(bullet.dependencies),\n      hiring_status_expr: \"INCLUDED\",\n      value_expr: null,\n      modality_id: bullet.modalityId ?? null,\n      source: \"modality_bullet\",\n      lines: [{ filter_expr: null, text_expr: spelStringLiteral(bullet.text) }]\n    });\n  }\n\n  for (const opt of opcionales) {\n    const optLines = splitBulletsFromCellText(opt.textContent, null);\n    entries.push({\n      cover_id: coverId,\n      filter_expr: opt.filterExpr ?? null,\n      hiring_status_expr: opt.hiringStatusExpr || \"OPTIONAL\",\n      value_expr: null,\n      modality_id: null,\n      source: \"optional_cover\",\n      lines: optLines.map(text => ({ filter_expr: null, text_expr: spelStringLiteral(text) }))\n    });\n  }\n\n  const coverOverride = computeCoverOverride(entries);\n  if (coverOverride) {\n    for (const entry of entries) {\n      if (entry.filter_expr === coverOverride.sharedCondition) {\n        entry.filter_expr = null;\n      }\n    }\n  }\n\n  return {\n    entries,\n    coverOverride: coverOverride ? coverOverride.hiringStatusExpr : null\n  };\n}\n\n// Regla de optimizacion: si TODOS los ENTRY (2 o mas) comparten exactamente\n// la misma condicion no nula, se traslada al HIRING_STATUS_EXPR de\n// PRODUCT_COMPANY_COVER en vez de repetirse en cada ENTRY (decision del\n// usuario, opcion B: el contenido sigue visible aunque la cobertura salga\n// NOT_INCLUDED). Con menos de 2 ENTRY no hay nada que deduplicar.\nfunction buildOptionalHiringStatusExpr(tuningKey) {\n  if (!tuningKey || tuningKey === \"NOT_FOUND\") return \"OPTIONAL\";\n  return `tuning?.${tuningKey} != null && tuning.${tuningKey} ? \"INCLUDED\" : \"OPTIONAL\"`;\n}\n\nfunction computeCoverOverride(entries) {\n  if (entries.length === 0) {\n    return { sharedCondition: undefined, hiringStatusExpr: `\"NOT_INCLUDED\"` };\n  }\n  if (entries.length < 2) return null;\n  const conditions = entries.map(e => e.filter_expr);\n  if (conditions.some(c => c == null)) return null;\n  const allSame = conditions.every(c => c === conditions[0]);\n  if (!allSame) return null;\n  return {\n    sharedCondition: conditions[0],\n    hiringStatusExpr: `${conditions[0]} ? \"INCLUDED\" : \"NOT_INCLUDED\"`\n  };\n}\n\n// Generacion del SQL INSERT final (motor: MySQL, confirmado por el usuario)\n// a partir del artefacto de una cobertura (ver buildEntriesForCover). Usa\n// variables de sesion (`SET @var := LAST_INSERT_ID()`) para encadenar las FK\n// entre PRODUCT_COMPANY_COVER -> _ENTRY -> _LINES, ya que los INSERT se\n// ejecutan secuencialmente y el ID de cada fila se genera en la propia BBDD.\n//\n// Confirmado por el usuario (20/07): toda expresion SPEL (no solo TEXT_EXPR)\n// lleva el envoltorio \"/\" ... \"/\" -- se aplica por igual a FILTER_EXPR/\n// HIRING_STATUS_EXPR/VALUE_EXPR/TEXT_EXPR.\nfunction wrapAsSpelExpression(rawExpr) {\n  return rawExpr == null ? null : `/${rawExpr}/`;\n}\n\n// Literal SQL: escapa comillas simples con backslash, igual que el ejemplo\n// real del modelo (`'/\\'texto\\'/'`) -- convencion de MySQL con\n// NO_BACKSLASH_ESCAPES desactivado (el modo por defecto).\nfunction sqlLiteral(value) {\n  if (value == null) return \"NULL\";\n  if (typeof value === \"number\") return String(value);\n  return `'${String(value).replace(/'/g, \"\\\\'\")}'`;\n}\n\n// coverArtifact: { coverId, productCompanyId, coverOverride, entries } --\n// coverOverride y entries.*.filter_expr/hiring_status_expr/value_expr son\n// expresiones SPEL en crudo (sin el envoltorio \"/.../\"); entries.*.lines[].\n// text_expr ya viene como literal de cadena SPEL (`'texto'`, ver\n// spelStringLiteral) al que tambien hay que anadirle el envoltorio.\nfunction buildInsertStatements({ coverId, productCompanyId, coverOverride, entries }) {\n  const statements = [];\n\n  statements.push(\n    `INSERT INTO PRODUCT_COMPANY_COVER (HIRING_STATUS_EXPR, COVER_ID, PRODUCT_COMPANY_ID) VALUES (${sqlLiteral(wrapAsSpelExpression(coverOverride))}, ${coverId}, ${productCompanyId});`\n  );\n  statements.push(\"SET @cover_id := LAST_INSERT_ID();\");\n\n  entries.forEach((entry, entryIndex) => {\n    const entryVar = `@entry_id_${entryIndex + 1}`;\n    statements.push(\n      `INSERT INTO PRODUCT_COMPANY_COVER_ENTRY (FILTER_EXPR, HIRING_STATUS_EXPR, ENTRY_ORDER, VALUE_EXPR, UNIT, PRODUCT_COMPANY_MODALITY_ID, PRODUCT_COMPANY_COVER_ID) VALUES (${sqlLiteral(wrapAsSpelExpression(entry.filter_expr))}, ${sqlLiteral(wrapAsSpelExpression(entry.hiring_status_expr))}, ${entryIndex + 1}, ${sqlLiteral(wrapAsSpelExpression(entry.value_expr))}, NULL, ${entry.modality_id ?? \"NULL\"}, @cover_id);`\n    );\n    statements.push(`SET ${entryVar} := LAST_INSERT_ID();`);\n\n    entry.lines.forEach((line, lineIndex) => {\n      statements.push(\n        `INSERT INTO PRODUCT_COMPANY_COVER_LINES (TEXT_EXPR, PRODUCT_COMPANY_COVER_ENTRY_ID, LINE_ORDER) VALUES (${sqlLiteral(wrapAsSpelExpression(line.text_expr))}, ${entryVar}, ${lineIndex + 1});`\n      );\n    });\n  });\n\n  return statements;\n}\n\n// --- adaptador n8n (nodo A20) ---\n// NOTA (primer borrador): combina los grupos de bullets por cobertura (A16)\n// con las coberturas opcionales (A5) y el tuning_key resuelto (A19) para\n// construir el artefacto ENTRY/LINES de cada COVER_ID via\n// generator.buildEntriesForCover -- el cruce opcional<->tuning_key por\n// nombre exacto es un primer borrador, revisar con un caso real en n8n.\nconst bulletGroups = $(\"Build Per-Cover Bullet Groups\").all().map(i => i.json);\nconst optionalCovers = $(\"Clean Optional Covers\").all().map(i => i.json);\nconst tuningKeys = $(\"Tuning Key Guardrail\").all().map(i => i.json);\n\nfunction tuningKeyFor(excelName) {\n  const hit = tuningKeys.find(t => t.excel_name === excelName);\n  return hit ? hit.tuning_key : \"NOT_FOUND\";\n}\n\nreturn bulletGroups.map(group => {\n  if (!group.homogeneous) {\n    return { json: { coverId: group.coverId, coverName: group.coverName, coverOverride: null, entries: [], needsReview: true, reviewReason: group.warning } };\n  }\n\n  const opcionalesDeCover = optionalCovers\n    .filter(o => o.parent_cover_id === group.coverId)\n    .map(o => {\n      const tuningKey = tuningKeyFor(o.cover_name);\n      return { coverName: o.cover_name, textContent: o.text_content, hiringStatusExpr: buildOptionalHiringStatusExpr(tuningKey), tuningKey };\n    });\n\n  const { entries, coverOverride } = buildEntriesForCover({\n    coverId: group.coverId,\n    coverName: group.coverName,\n    defaultBullets: group.defaultBullets,\n    conditionedBullets: group.conditionedBullets,\n    opcionales: opcionalesDeCover\n  });\n\n  return { json: { coverId: group.coverId, coverName: group.coverName, coverOverride, entries, needsReview: false, reviewReason: null } };\n});"
      },
      "id": "cig-node-25",
      "name": "Generate ENTRY/LINES per Cover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Guardrails y ensamblado del JSON intermedio revisable por humano (nodos\n// A13 \"Grounding Guardrail\", A19 \"Tuning Key Guardrail\", A21 \"Assemble\n// Human-Review JSON\" y B3 \"Validate Review Completeness\" del diseño de Fase\n// 4 -- ver plan zippy-weaving-crown.md). Codigo puro, se valida offline\n// (run_offline_eval.js, check --review-assembly) antes de construir los\n// nodos n8n reales.\n\n\n// A13: verifica que la decision del LLM de matching (Coverage Match Decision\n// Agent) no alucine -- (a) el cover_id elegido debe estar entre los\n// candidatos ofrecidos, (b) el excel_quote debe ser substring real\n// (normalizado) del texto completo de ese candidato (`cover_full_text`,\n// mismo campo que ya construye matcher.buildCandidateIndex). Si falla\n// cualquiera, degrada la confianza a \"baja\" -- nunca descarta en silencio,\n// mismo patron de visibilidad que el resto de guardrails del proyecto.\nfunction applyGroundingGuardrail(llmDecision, candidates) {\n  if (llmDecision.decision !== \"match\") {\n    return { ...llmDecision, grounding_ok: true };\n  }\n\n  const candidate = (candidates || []).find(c => c.cover_id === llmDecision.cover_id);\n  if (!candidate) {\n    return { ...llmDecision, grounding_ok: false, confidence: \"baja\", degradation_reason: \"cover_id_not_in_candidates\" };\n  }\n\n  const quoteOk = !!llmDecision.excel_quote &&\n    normalize(candidate.cover_full_text || \"\").includes(normalize(llmDecision.excel_quote));\n  if (!quoteOk) {\n    return { ...llmDecision, grounding_ok: false, confidence: \"baja\", degradation_reason: \"excel_quote_not_grounded\" };\n  }\n\n  return { ...llmDecision, grounding_ok: true };\n}\n\n// A19: valida que el tuning_key devuelto por el Tuning Key Mapping Agent\n// exista realmente en el diccionario de tuning de esa compania, o sea\n// \"NOT_FOUND\" explicito (ya senalado como pendiente en\n// tuning_key_matcher_prompt.md). Un tuning_key inventado se degrada a\n// NOT_FOUND en vez de colarse en el FILTER_EXPR/HIRING_STATUS_EXPR final.\nfunction applyTuningKeyGuardrail(tuningKey, tuningDictionary) {\n  if (tuningKey === \"NOT_FOUND\") {\n    return { tuning_key: \"NOT_FOUND\", valid: true };\n  }\n  if (tuningDictionary && Object.prototype.hasOwnProperty.call(tuningDictionary, tuningKey)) {\n    return { tuning_key: tuningKey, valid: true };\n  }\n  return { tuning_key: \"NOT_FOUND\", valid: false, original_tuning_key: tuningKey, reason: \"tuning_key_not_in_dictionary\" };\n}\n\n// Determina si una entrada necesita revision humana (esquema del JSON\n// intermedio, ver plan Fase 4): confianza de matching distinta de \"alta\",\n// grounding fallido, o traduccion de valor de enum parcial\n// (value_matcher.translateDependencyValue con fullyTranslated: false).\nfunction computeEntryReviewStatus(entry) {\n  const reasons = [];\n  if (entry.match && entry.match.confidence && entry.match.confidence !== \"alta\") {\n    reasons.push(\"match_confidence_not_alta\");\n  }\n  if (entry.match && entry.match.grounding_ok === false) {\n    reasons.push(\"grounding_failed\");\n  }\n  if (entry.value_translation && entry.value_translation.fully_translated === false) {\n    reasons.push(\"value_translation_partial\");\n  }\n  return {\n    review_status: reasons.length > 0 ? \"needs_review\" : \"auto_approved\",\n    review_reasons: reasons\n  };\n}\n\n// A21: ensambla el JSON intermedio final a partir de los registros por\n// cobertura ya generados (generator.buildEntriesForCover + metadatos de\n// matching/traduccion/tuning adjuntos a cada entry). coverRecords:\n// [{coverId, coverName, coverOverride, entries: [{entry_source, bullet_text,\n// modality_id, match, dependencies_raw, dependencies_translated,\n// value_translation, filter_expr, hiring_status_expr, value_expr,\n// tuning_key, human_decision}]}].\nfunction assembleHumanReviewJson({ productCompanyId, ramo, sourceFlow2Artifact, sourceExcel, coverRecords, unmatchedDependencies }) {\n  const covers = (coverRecords || []).map(cover => {\n    const entries = (cover.entries || []).map(entry => {\n      const { review_status, review_reasons } = computeEntryReviewStatus(entry);\n      return { ...entry, review_status, review_reasons, human_decision: entry.human_decision ?? null };\n    });\n    const coverReviewReasons = cover.needsReview ? [cover.reviewReason || \"structural_review_required\"] : [];\n    const coverReviewStatus = coverReviewReasons.length > 0 || entries.some(e => e.review_status === \"needs_review\")\n      ? \"needs_review\"\n      : \"auto_approved\";\n    return {\n      cover_id: cover.coverId,\n      cover_name: cover.coverName,\n      cover_override_hiring_status_expr: cover.coverOverride ?? null,\n      review_status: coverReviewStatus,\n      review_reasons: coverReviewReasons,\n      entries\n    };\n  });\n\n  const totalEntries = covers.reduce((sum, c) => sum + c.entries.length, 0);\n  const entriesNeedingReview = covers.reduce(\n    (sum, c) => sum + c.entries.filter(e => e.review_status === \"needs_review\").length,\n    0\n  );\n\n  return {\n    schema_version: \"1.0\",\n    product_company_id: productCompanyId,\n    ramo,\n    source_flow2_artifact: sourceFlow2Artifact,\n    source_excel: sourceExcel,\n    summary: {\n      total_covers: covers.length,\n      covers_needing_review: covers.filter(c => c.review_status === \"needs_review\").length,\n      total_entries: totalEntries,\n      entries_needing_review: entriesNeedingReview\n    },\n    covers,\n    unmatched_dependencies: unmatchedDependencies || []\n  };\n}\n\n// B3: aborta con item de error explicito (nunca rubber-stamp) si queda\n// alguna entrada needs_review sin human_decision.action relleno.\nfunction validateReviewCompleteness(reviewJson) {\n  const pending = [];\n  for (const cover of reviewJson.covers || []) {\n    for (const entry of cover.entries || []) {\n      if (entry.review_status === \"needs_review\" && !(entry.human_decision && entry.human_decision.action)) {\n        pending.push({ cover_id: cover.cover_id, bullet_text: entry.bullet_text });\n      }\n    }\n  }\n  return { complete: pending.length === 0, pending };\n}\n\n// Matcher offline dependencia (flujo 2) -> COVER_ID/bullet del Excel de coberturas.\n//\n// Este modulo implementa SOLO la parte determinista/heuristica del matcher\n// (candidatos por similitud lexica + verificacion de grounding). La decision\n// final en produccion la toma un LLM con estos candidatos como contexto (ver\n// plan de flujo 3) -- aqui no se llama a ningun LLM, es la capa que se valida\n// offline antes de construir el nodo n8n real (CLAUDE.md SS7).\n//\n// Cuando se construya el workflow n8n de flujo 3 (Fase 4 del plan), el codigo\n// de esta funcion debe copiarse (o extraerse, siguiendo el mismo patron que\n// evaluators/coverage_dependency_extractor/run_offline_eval.js) al Code node\n// real que genera los candidatos antes de la llamada LLM.\n\nconst STOPWORDS = new Set([\n  \"de\",\"la\",\"el\",\"los\",\"las\",\"en\",\"y\",\"o\",\"del\",\"con\",\"por\",\"para\",\"que\",\n  \"un\",\"una\",\"al\",\"su\",\"sus\",\"a\",\"e\",\"u\",\"es\",\"se\",\"lo\",\"como\",\"no\",\"si\",\n  \"the\",\"of\"\n]);\n\nfunction normalize(str) {\n  return (str || \"\")\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\") // quitar acentos\n    .replace(/^[\\d]+(\\.[\\d]+)*\\.?\\s*/,\"\") // quitar numeracion inicial \"3.2. \"\n    .replace(/^[a-z]\\)\\s*/,\"\") // quitar numeracion tipo \"a) \"\n    .replace(/^articulo\\s+[\\wº.]+\\s*/,\"\") // quitar \"Articulo 8º \"\n    .replace(/[^a-z0-9\\s]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nfunction tokenize(str) {\n  return normalize(str)\n    .split(\" \")\n    .filter(tok => tok.length > 0 && !STOPWORDS.has(tok));\n}\n\nfunction jaccard(tokensA, tokensB) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  let intersection = 0;\n  for (const tok of setA) if (setB.has(tok)) intersection++;\n  const union = new Set([...setA, ...setB]).size;\n  return intersection / union;\n}\n\n// Jaccard ponderado por rareza (idf-like): una palabra que aparece en pocos\n// candidatos del indice (p. ej. \"plagas\") pesa mucho mas que una que aparece\n// en casi todos (p. ej. \"asistencia\", \"daños\", \"robo\" -- genericas del dominio\n// asegurador). Sin esto, una etiqueta estructural corta y generica (p. ej.\n// \"Asistencia\") puede ganarle a un match especifico y correcto por pura\n// coincidencia de una sola palabra comun (caso real detectado: GD-MATCH-025).\nfunction weightedJaccard(tokensA, tokensB, idf) {\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n  if (setA.size === 0 || setB.size === 0) return 0;\n  const all = new Set([...setA, ...setB]);\n  let intersection = 0;\n  let union = 0;\n  for (const tok of all) {\n    const w = idf.get(tok) || 1;\n    union += w;\n    if (setA.has(tok) && setB.has(tok)) intersection += w;\n  }\n  return union === 0 ? 0 : intersection / union;\n}\n\n// Frecuencia de documento inversa sobre los textos del indice de candidatos:\n// cuantos menos candidatos contienen una palabra, mas discriminante es.\nfunction buildIdf(candidateIndex) {\n  const docFreq = new Map();\n  const totalDocs = candidateIndex.length || 1;\n  for (const candidate of candidateIndex) {\n    const uniqueTokens = new Set(tokenize(candidate.text));\n    for (const tok of uniqueTokens) docFreq.set(tok, (docFreq.get(tok) || 0) + 1);\n  }\n  const idf = new Map();\n  for (const [tok, df] of docFreq) idf.set(tok, Math.log((totalDocs + 1) / (df + 1)) + 1);\n  return idf;\n}\n\n// Construye el indice plano de candidatos (cover_id + texto) a partir del\n// fixture normalizado del Excel (ambas hojas). Cada candidato lleva ademas\n// `cover_full_text` (nombre + todos los bullets de esa cobertura) para el\n// guardrail de grounding -- la evidencia de una dependencia describe la\n// condicion, no necesariamente repite las palabras del bullet exacto, asi que\n// el grounding se comprueba contra el contenido completo de la cobertura, no\n// solo el fragmento que gano el matching.\nfunction buildCandidateIndex(excelFixture) {\n  const index = [];\n  const byCoverName = new Map();\n  const fullTextByCoverId = new Map();\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    byCoverName.set(normalize(cover.cover_name), cover.cover_id);\n    fullTextByCoverId.set(\n      cover.cover_id,\n      [cover.cover_name, ...(cover.sample_text_bullets || [])].join(\" \")\n    );\n  }\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    if (parentCoverId != null) {\n      fullTextByCoverId.set(\n        parentCoverId,\n        (fullTextByCoverId.get(parentCoverId) || \"\") + \" \" + opt.cover_name + \" \" + (opt.text_content || \"\")\n      );\n    }\n  }\n\n  for (const cover of excelFixture.covers_por_modalidad || []) {\n    index.push({\n      cover_id: cover.cover_id,\n      text: cover.cover_name,\n      cover_full_text: fullTextByCoverId.get(cover.cover_id) || cover.cover_name,\n      source: \"modality_cover_name\"\n    });\n    for (const bullet of cover.sample_text_bullets || []) {\n      index.push({\n        cover_id: cover.cover_id,\n        text: bullet,\n        cover_full_text: fullTextByCoverId.get(cover.cover_id) || bullet,\n        source: \"modality_bullet\"\n      });\n    }\n  }\n\n  for (const opt of excelFixture.coberturas_opcionales || []) {\n    const parentCoverId = byCoverName.get(normalize(opt.epigrafe)) ?? null;\n    index.push({\n      cover_id: parentCoverId,\n      text: opt.cover_name,\n      cover_full_text: fullTextByCoverId.get(parentCoverId) || opt.cover_name,\n      source: \"optional_cover_name\",\n      exact_optional_name: normalize(opt.cover_name)\n    });\n  }\n\n  return index;\n}\n\nconst CONFIDENCE_THRESHOLDS = { alta: 0.55, media: 0.3 };\n\nfunction confidenceLevel(score) {\n  if (score >= CONFIDENCE_THRESHOLDS.alta) return \"alta\";\n  if (score >= CONFIDENCE_THRESHOLDS.media) return \"media\";\n  return \"sin_match\";\n}\n\n// coveragePath: array de strings (jerarquia interna del condicionado, la\n// produce el flujo 2). article: titulo del articulo (fallback quando\n// coverage_path viene vacio). evidenceText: texto real de la dependencia/\n// evidencia (source_text o evidence concatenada) -- necesario porque la\n// etiqueta estructural (coverage_path/article) puede ser enganosa (caso real:\n// \"Articulo 9 Asistencia\" que en realidad habla de control de plagas, ver\n// golden set GD-MATCH-025) y el contenido real desempata correctamente.\nfunction matchDependency(coveragePath, article, evidenceText, candidateIndex) {\n  const leafText = (coveragePath || [])[coveragePath.length - 1] || \"\";\n  const leafNormalized = normalize(leafText);\n  const leafTokens = tokenize(leafText);\n  const rootText = (coveragePath || [])[0] || \"\";\n  const rootNormalized = normalize(rootText);\n  const rootTokens = tokenize(rootText + \" \" + (article || \"\"));\n  const evidenceTokens = tokenize(evidenceText || \"\");\n  const idf = buildIdf(candidateIndex);\n\n  const scored = candidateIndex.map(candidate => {\n    // Match exacto por nombre (hoja \"Coberturas opcionales\" -> join directo,\n    // sin necesidad de similitud difusa). El nombre de la opcional puede\n    // corresponder tanto al nivel hoja como al nivel raiz de coverage_path\n    // (el desglose interno del condicionado no siempre alinea sus niveles con\n    // el nombre exacto de la opcional en el mismo nivel).\n    if (candidate.exact_optional_name &&\n        (candidate.exact_optional_name === leafNormalized || candidate.exact_optional_name === rootNormalized)) {\n      return { ...candidate, score: 1.0, match_type: \"exact_optional_name\" };\n    }\n    const candidateTokens = tokenize(candidate.text);\n    const leafScore = weightedJaccard(leafTokens, candidateTokens, idf);\n    const rootScore = weightedJaccard(rootTokens, candidateTokens, idf);\n    const evidenceScore = weightedJaccard(evidenceTokens, candidateTokens, idf);\n    // El nivel hoja (bullet concreto) es la senal mas especifica; el texto\n    // real de la evidencia puede desempatar o corregir cuando la etiqueta\n    // estructural es enganosa (palabras raras como \"plagas\" pesan mucho mas\n    // que genericas como \"asistencia\" gracias al idf); el nivel raiz solo\n    // ayuda para candidatos de nombre de cobertura completo.\n    const score = Math.max(leafScore, evidenceScore * 0.9, rootScore * 0.8);\n    return { ...candidate, score, match_type: \"lexical\" };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n  const best = scored[0];\n  if (!best || best.cover_id == null) {\n    return { best: null, confidence: \"sin_match\", candidates: scored.slice(0, 5) };\n  }\n\n  return {\n    best,\n    confidence: confidenceLevel(best.score),\n    candidates: scored.slice(0, 5)\n  };\n}\n\n// Verifica que la evidencia citada tenga solape lexico real con el texto del\n// bullet/cobertura emparejado -- guardrail de grounding (mismo espiritu que\n// el guardrail de evidencia del flujo 2, aplicado aqui al texto del Excel en\n// vez de al source_text del PDF).\nfunction groundingScore(evidence, candidateText) {\n  return jaccard(tokenize(evidence), tokenize(candidateText));\n}\n\n// --- adaptador n8n (nodo A21) ---\nconst formData = $(\"Borrador de comparativa - On form submission\").first().json;\nconst coverRecords = $input.all().map(i => i.json);\n\nconst reviewJson = assembleHumanReviewJson({\n  productCompanyId: formData[\"Product Company Id\"],\n  ramo: formData.Ramo,\n  sourceFlow2Artifact: formData[\"Artefacto de flujo 2 (JSON)\"],\n  sourceExcel: formData[\"Excel de coberturas (pega el enlace)\"],\n  coverRecords,\n  unmatchedDependencies: $(\"Translate Dependency Values\").all().map(i => i.json).filter(m => m.decision !== \"match\")\n});\n\nreturn [{ json: reviewJson }];"
      },
      "id": "cig-node-26",
      "name": "Assemble Human-Review JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const timestamp = new Date().toISOString().replace(/[:.]/g, \"-\");\nreturn [{\n  json: {\n    ...$json,\n    filename: `coverage_insert_draft_${$json.product_company_id}_${timestamp}.json`\n  }\n}];"
      },
      "id": "cig-node-27",
      "name": "Generate file name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        704
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{$json.filename}}"
        }
      },
      "id": "cig-node-28",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3824,
        704
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/coverage_insert_outputs/{{$binary.data.fileName}}",
        "options": {}
      },
      "id": "cig-node-29",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        4048,
        704
      ]
    },
    {
      "parameters": {},
      "id": "cig-node-30",
      "name": "Merge Excel Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        304
      ]
    },
    {
      "parameters": {},
      "id": "cig-node-31",
      "name": "Merge Optional Covers Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        304
      ]
    },
    {
      "parameters": {},
      "id": "cig-node-32",
      "name": "Merge Candidate Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        432
      ]
    },
    {
      "parameters": {},
      "id": "cig-node-33",
      "name": "Merge Tuning Context Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2400,
        832
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "cig-node-34",
      "name": "Merge Cover Assembly Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3168,
        832
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Borrador de comparativa - On form submission": {
      "main": [
        [
          {
            "node": "Covers by modality",
            "type": "main",
            "index": 0
          },
          {
            "node": "Optional Covers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Flujo 2 Artifact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Tuning Dictionary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Covers by modality": {
      "main": [
        [
          {
            "node": "Clean covers and modalities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optional Covers": {
      "main": [
        [
          {
            "node": "Merge Optional Covers Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean covers and modalities": {
      "main": [
        [
          {
            "node": "Merge Excel Branches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Optional Covers Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean Optional Covers": {
      "main": [
        [
          {
            "node": "Merge Excel Branches",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Tuning Context Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Excel Fixture for Matcher": {
      "main": [
        [
          {
            "node": "Build Candidate Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Candidate Index": {
      "main": [
        [
          {
            "node": "Merge Candidate Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Flujo 2 Artifact": {
      "main": [
        [
          {
            "node": "Merge Candidate Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Match Candidates (lexical)": {
      "main": [
        [
          {
            "node": "Loop Over Semantic Units",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Loop Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Semantic Units": {
      "main": [
        [
          {
            "node": "Merge Loop Results",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Coverage Match Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model (Decision)": {
      "ai_languageModel": [
        [
          {
            "node": "Coverage Match Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Decision)": {
      "ai_outputParser": [
        [
          {
            "node": "Coverage Match Decision Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Coverage Match Decision Agent": {
      "main": [
        [
          {
            "node": "Wait (Decision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Decision)": {
      "main": [
        [
          {
            "node": "Loop Over Semantic Units",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Loop Results": {
      "main": [
        [
          {
            "node": "Grounding Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grounding Guardrail": {
      "main": [
        [
          {
            "node": "Translate Dependency Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Dependency Values": {
      "main": [
        [
          {
            "node": "Build Per-Cover Bullet Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Per-Cover Bullet Groups": {
      "main": [
        [
          {
            "node": "Merge Cover Assembly Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tuning Dictionary": {
      "main": [
        [
          {
            "node": "Merge Tuning Context Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Tuning Context": {
      "main": [
        [
          {
            "node": "Tuning Key Mapping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model (Tuning)": {
      "ai_languageModel": [
        [
          {
            "node": "Tuning Key Mapping Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Tuning)": {
      "ai_outputParser": [
        [
          {
            "node": "Tuning Key Mapping Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tuning Key Mapping Agent": {
      "main": [
        [
          {
            "node": "Tuning Key Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tuning Key Guardrail": {
      "main": [
        [
          {
            "node": "Merge Cover Assembly Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate ENTRY/LINES per Cover": {
      "main": [
        [
          {
            "node": "Assemble Human-Review JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Human-Review JSON": {
      "main": [
        [
          {
            "node": "Generate file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate file name": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Excel Branches": {
      "main": [
        [
          {
            "node": "Build Excel Fixture for Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Optional Covers Sources": {
      "main": [
        [
          {
            "node": "Clean Optional Covers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Candidate Sources": {
      "main": [
        [
          {
            "node": "Match Candidates (lexical)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tuning Context Sources": {
      "main": [
        [
          {
            "node": "Build Tuning Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Cover Assembly Sources": {
      "main": [
        [
          {
            "node": "Generate ENTRY/LINES per Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e42e717a-e589-4dfe-a94f-161457b8fed6",
  "meta": null,
  "id": "OcnyHJupuDDL3WlV",
  "tags": []
}