n8n/workflows/ontology indexing.json
{
  "name": "ontology indexing",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ontology",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        16
      ],
      "id": "54f80ea1-3c05-4bb0-a9ab-db4ff95d67de",
      "name": "On form submission",
      "webhookId": "63821bb0-ca0e-49a0-9a87-e410040dcad2"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "=Ontology",
        "destinationKey": "ontology_text",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        32
      ],
      "id": "a1d509a0-2c9f-4647-8fbb-d3f6bdd84250",
      "name": "Extract ontology"
    },
    {
      "parameters": {
        "jsCode": "const ontologyText = $json.ontology_text || '';\n\n//\n// ======================================================\n// EXTRAER ONTOLOGY TYPE\n// ======================================================\n//\n\nconst ontologyTypeMatch = ontologyText.match(\n  /OntologyType:\\s*([A-Za-z0-9_-]+)/i\n);\n\nconst ontologyType = ontologyTypeMatch\n  ? ontologyTypeMatch[1].trim().toLowerCase()\n  : 'unknown';\n\n//\n// ======================================================\n// NORMALIZACIÓN\n// ======================================================\n//\n\nconst normalized = ontologyText\n  .replace(/\\r\\n/g, '\\n')\n  .trim();\n\n//\n// ======================================================\n// UTILIDADES\n// ======================================================\n//\n\nfunction extractSingleValue(block, fieldName) {\n\n  const regex = new RegExp(\n    `^${fieldName}:\\\\s*(.*)$`,\n    'mi'\n  );\n\n  const match = block.match(regex);\n\n  return match\n    ? match[1].trim()\n    : null;\n}\n\nfunction extractSectionList(block, sectionName) {\n\n  const lines = block.split('\\n');\n\n  const values = [];\n\n  let insideSection = false;\n\n  for (const line of lines) {\n\n    const trimmed = line.trim();\n\n    //\n    // Inicio de sección\n    //\n    if (\n      trimmed.toLowerCase() ===\n      `${sectionName.toLowerCase()}:`\n    ) {\n      insideSection = true;\n      continue;\n    }\n\n    //\n    // Cambio a otra sección\n    //\n    if (\n      insideSection &&\n      /^[a-zA-Z_]+:\\s*/.test(trimmed)\n    ) {\n      break;\n    }\n\n    //\n    // Item lista\n    //\n    if (\n      insideSection &&\n      trimmed.startsWith('- ')\n    ) {\n      values.push(\n        trimmed.substring(2).trim()\n      );\n    }\n  }\n\n  return values;\n}\n\nfunction extractMultilineText(\n  block,\n  sectionName\n) {\n\n  const lines = block.split('\\n');\n\n  const values = [];\n\n  let insideSection = false;\n\n  for (const line of lines) {\n\n    const trimmed = line.trim();\n\n    if (\n      trimmed.toLowerCase() ===\n      `${sectionName.toLowerCase()}:`\n    ) {\n      insideSection = true;\n      continue;\n    }\n\n    if (\n      insideSection &&\n      /^[a-zA-Z_]+:\\s*/.test(trimmed)\n    ) {\n      break;\n    }\n\n    if (insideSection) {\n\n      if (\n        trimmed &&\n        !trimmed.startsWith('- ')\n      ) {\n        values.push(trimmed);\n      }\n    }\n  }\n\n  return values.join(' ').trim();\n}\n\n//\n// ======================================================\n// DIVIDIR POR CONCEPTOS\n// ======================================================\n//\n\nconst rawSections = normalized.split(\n  /^##\\s+/gm\n);\n\nconst concepts = [];\n\nfor (const section of rawSections) {\n\n  let block = section.trim();\n\n  if (!block) {\n    continue;\n  }\n\n  //\n  // Ignorar cabecera global\n  //\n  if (\n    block.startsWith('# Home Insurance Ontology') ||\n    block.includes('OntologyType:')\n  ) {\n    continue;\n  }\n\n  //\n  // Limpieza\n  //\n  block = block\n    .replace(/---+/g, '')\n    .trim();\n\n  const lines = block.split('\\n');\n\n  const conceptId =\n    (lines[0] || '').trim();\n\n  if (!conceptId) {\n    continue;\n  }\n\n  //\n  // ======================================================\n  // EXTRAER CAMPOS\n  // ======================================================\n  //\n  \n  const riskField =\n    extractSingleValue(\n      block,\n      'risk_field'\n    );\n\n  const dataType =\n    extractSingleValue(\n      block,\n      'data_type'\n    );\n\n  const meaning =\n    extractSingleValue(\n      block,\n      'meaning'\n    ) ||\n    extractMultilineText(\n      block,\n      'meaning'\n    );\n\n  const interpretation =\n    extractMultilineText(\n      block,\n      'interpretation'\n    );\n\n  const aliases =\n    extractSectionList(\n      block,\n      'aliases'\n    );\n\n  const contractualExamples =\n    extractSectionList(\n      block,\n      'contractual_examples'\n    );\n\n  const negativeAliases =\n    extractSectionList(\n      block,\n      'negative_aliases'\n    );\n\n  //\n  // ======================================================\n  // TEXTO PARA EMBEDDINGS\n  // ======================================================\n  //\n\n  const searchableParts = [\n\n    ...(aliases || []),\n\n    ...(contractualExamples || []),\n\n    meaning || '',\n\n    interpretation || ''\n\n  ];\n\n  const searchableText =\n    searchableParts\n      .filter(Boolean)\n      .join('\\n')\n      .trim();\n\n  //\n  // Estadísticas\n  //\n  const wordCount =\n    searchableText\n      .split(/\\s+/)\n      .filter(Boolean)\n      .length;\n\n  concepts.push({\n    json: {\n\n      //\n      // Identificación\n      //\n      concept_id: conceptId,\n      concept_key:\n        `${ontologyType}:${conceptId}`,\n      ontology_type:\n        ontologyType,\n\n      //\n      // Metadatos\n      //\n      risk_field:\n        riskField,\n\n      data_type:\n        dataType,\n\n      aliases,\n\n      contractual_examples:\n        contractualExamples,\n\n      negative_aliases:\n        negativeAliases,\n\n      meaning,\n\n      interpretation,\n\n      //\n      // Textos\n      //\n      ontology_raw:\n        block,\n\n      searchable_text:\n        searchableText,\n\n      //\n      // Compatibilidad\n      // (puedes mantenerlo\n      // mientras migras)\n      //\n      ontology_text:\n        searchableText,\n\n      //\n      // Métricas\n      //\n      concept_words:\n        wordCount,\n\n      concept_length:\n        searchableText.length\n\n    }\n  });\n}\n\n//\n// ======================================================\n// ORDEN CONSISTENTE\n// ======================================================\n//\n\nconcepts.sort((a, b) =>\n  a.json.concept_id.localeCompare(\n    b.json.concept_id\n  )\n);\n\nreturn concepts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        32
      ],
      "id": "07e347bf-27db-4168-979e-0511bb342790",
      "name": "Ontology Splitter"
    },
    {
      "parameters": {
        "url": "http://qdrant:6333/collections/insurance_ontology",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        256
      ],
      "id": "edba3abd-1ee7-45bd-abfc-d6b120fdc935",
      "name": "Check collection",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9c1ed7a-697e-45a8-ad2a-7e0770885cf9",
              "leftValue": "={{ $json.error?.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        256
      ],
      "id": "641e7ace-2820-4cee-bb0b-539997149173",
      "name": "Must create collection"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/insurance_ontology",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        176
      ],
      "id": "7cbfcc70-279d-48c7-abe9-c0878e372ebd",
      "name": "Create collection"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        32
      ],
      "id": "f3c6d054-b99a-4249-bdab-a6cf3350baf8",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        368
      ],
      "id": "19232542-1c8e-4482-9bef-066af7723fec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{ $json.searchable_text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        32
      ],
      "id": "a56588df-9557-43f4-9edb-8f222b853a85",
      "name": "Generate Embedding"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const splitter = $('Ontology Splitter').item.json;\n\nconst conceptId = splitter.concept_id;\nconst ontologyType = splitter.ontology_type;\n\nconst embedding = $json.embedding;\n\nfunction deterministicId(str) {\n  let hash = 0;\n\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n\n  return Math.abs(hash);\n}\n\nconst conceptKey = `${ontologyType}:${conceptId}`;\nconst pointId = deterministicId(conceptKey);\n\nreturn {\n  json: {\n    points: [\n      {\n        id: pointId,\n\n        vector: embedding,\n\n        payload: {\n\n          // ==================================================\n          // IDENTIFICACIÓN\n          // ==================================================\n\n          concept_key: conceptKey,\n          concept_id: conceptId,\n          ontology_type: ontologyType,\n\n          // ==================================================\n          // METADATOS ESTRUCTURADOS\n          // ==================================================\n\n          risk_field:\n            splitter.risk_field || null,\n\n          data_type:\n            splitter.data_type || null,\n\n          aliases:\n            splitter.aliases || [],\n\n          contractual_examples:\n            splitter.contractual_examples || [],\n\n          negative_aliases:\n            splitter.negative_aliases || [],\n\n          meaning:\n            splitter.meaning || null,\n\n          interpretation:\n            splitter.interpretation || null,\n\n          // ==================================================\n          // TEXTOS\n          // ==================================================\n\n          // Bloque completo original\n          ontology_raw:\n            splitter.ontology_raw || null,\n\n          // Texto optimizado para embeddings\n          searchable_text:\n            splitter.searchable_text || null,\n\n          // Texto exacto utilizado para generar el embedding\n          embedding_source_text:\n            splitter.searchable_text || null,\n\n          // Compatibilidad con versiones anteriores\n          ontology_text:\n            splitter.searchable_text || null,\n\n          // ==================================================\n          // MÉTRICAS\n          // ==================================================\n\n          concept_words:\n            splitter.concept_words || 0,\n\n          concept_length:\n            splitter.concept_length || 0\n        }\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        32
      ],
      "id": "8f0e5307-60ef-4792-9384-00b80ab71a4e",
      "name": "Build Qdrant Point"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/insurance_ontology/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        32
      ],
      "id": "89d805ff-aec9-4c0d-94f4-9540d73c979d",
      "name": "Upsert en Qdrant"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Check collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ontology": {
      "main": [
        [
          {
            "node": "Ontology Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check collection": {
      "main": [
        [
          {
            "node": "Must create collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Must create collection": {
      "main": [
        [
          {
            "node": "Create collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create collection": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ontology Splitter": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract ontology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Build Qdrant Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qdrant Point": {
      "main": [
        [
          {
            "node": "Upsert en Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "49f195ba-ead6-419f-9dce-6bb3bb659306",
  "meta": {
    "instanceId": "d906b4d995d0061aace5abceada4a582e267a94c9532d9da0c783a6f1f611af3"
  },
  "id": "XbUpAq55phBMb2VU",
  "tags": []
}